@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Merriweather:400,700|Open+Sans");
:root {
  font-size: 16px;
  background-color: #FFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
}

body {
  margin: 0;
}

aside,
footer,
header,
nav,
section,
button,
form,
ul {
  display: flex;
}

a,
button {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  border: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: none;
}

::-webkit-input-placeholder {
  color: #666;
  font-family: lato;
  font-weight: 300;
}

::-moz-placeholder {
  color: #666;
  font-family: lato;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #666;
  font-family: lato;
  font-weight: 300;
}

:-moz-placeholder {
  color: #666;
  font-family: lato;
  font-weight: 300;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
}

h2, h3, h4 {
  font-family: "Merriweather", serif;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
}

.t-align {
  text-align: center;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.between {
  justify-content: space-between;
  align-items: center;
}

.nc-between {
  justify-content: space-between;
}

.s-between {
  justify-content: space-between;
  align-items: flex-start;
}

.around {
  justify-content: space-around;
  align-items: center;
}

.start {
  align-items: flex-start;
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.vertical {
  flex-direction: column;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.col-12 {
  max-width: 1036px;
}

.mw {
  width: 100%;
}

.mh {
  height: 100%;
}

.w8 {
  width: 80%;
}

.w5 {
  width: 50%;
}

.w45 {
  width: 45%;
}

.w4 {
  width: 40%;
}

.w3 {
  width: 30%;
}

.main {
  width: 100%;
  height: 100vh;
}

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}

.pos-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icn-pos {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -16px;
}

.m-auto {
  margin: 0 auto;
}

.fixed-fix {
  padding-top: 70px;
  padding-bottom: 70px;
}

.main-fix {
  padding-top: 100px;
  padding-bottom: 50px;
}

.mr-5 {
  margin-right: 5%;
}

.bg-white {
  background-color: #FFF;
}

.divisor-bg {
  background-color: #F2F2F2;
}

.user-bg {
  background-color: rgba(201, 219, 225, 0.3);
  background-image: url(../img/absurdity.png);
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-visible {
  overflow: visible;
}

button,
.btn {
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-color: #F16876;
  transition: 500ms;
  padding: 5px 20px;
  font-size: 1.15rem;
}
button:hover,
.btn:hover {
  background-color: #EC3A4C;
}

input:not([type=checkbox]),
textarea {
  padding: 5px;
  font-size: 1.1rem;
  background-color: #FFF;
  border: 1px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  resize: none;
  width: 100%;
  margin-bottom: 10px;
  transition: 300ms ease-in;
}
input:not([type=checkbox]):focus,
textarea:focus {
  border-color: #1D9D74;
}

textarea {
  height: 100px;
  overflow-y: scroll;
}

.link {
  display: inline-block;
  position: relative;
  color: #000;
}
.link:after, .link:before {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
}
.link:after {
  right: 0;
  background-color: #000;
  transition: width 0.5s ease;
}
.link:before {
  left: 0;
  transition: width 0s ease, background 0.5s ease;
}
.link:hover:after {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0s ease;
}
.link:hover:before {
  width: 100%;
  background-color: #000;
  transition: width 0.5s ease;
}

.tabs {
  width: 100%;
  height: 55px;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}
.tabs li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #A0B3B0;
  background-color: rgba(160, 179, 176, 0.25);
  transition: 500ms ease;
  text-align: center;
}
.tabs li:hover {
  background-color: #EC3A4C;
  color: #FFF;
}
.tabs i {
  display: none;
}
.tabs .active {
  color: white;
  background-color: #f16876;
}

.animated {
  position: absolute;
  left: 10px;
  top: 15%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #777;
  pointer-events: none;
  transition: all 150ms ease-out;
}

input:focus ~ label.animated {
  color: #00c1a3;
  font-size: 0.8em;
  top: -15px;
  left: 0px;
}

.overlay {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
}

.dropdown {
  border: 1px solid #A0B3B0;
  padding: 8px;
  position: relative;
  cursor: pointer;
}
.dropdown div {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 100%;
  left: 0;
  border: 1px solid #F16876;
  height: auto;
  box-shadow: 2px 4px 20px rgba(19, 35, 47, 0.3);
}
.dropdown div a {
  padding: 10px;
  background-color: #FFF;
}
.dropdown div a:hover {
  color: #FFF;
  background-color: #F16876;
}

.badge {
  width: 80px;
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.badge .radial {
  width: 56px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  border-radius: 50%;
  left: 50%;
  margin-left: -28px;
  top: 0px;
}
.badge p {
  margin-top: 5px;
  font-size: 0.9rem;
}
.badge .tool-tip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  width: 150px;
  padding: 10px;
  top: 50%;
  left: 50%;
  margin-left: -80px;
}
.badge .tool-tip:before {
  position: absolute;
  top: -20px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  content: "";
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
  border-left: 10px solid transparent;
}
.badge .tool-tip h4, .badge .tool-tip p {
  color: #FFF;
}
.badge .tool-tip h4 {
  font-size: 0.8rem;
}
.badge .tool-tip p {
  font-size: 0.7rem;
}

.wish {
  box-shadow: 2px 4px 20px rgba(19, 35, 47, 0.3);
}
.wish h3 {
  background-color: #F16876;
  color: #FFF;
  padding: 14.5px 0px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.wish .content {
  background-color: #FFF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wish .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.wish .header h4 {
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
}
.wish .header p {
  font-size: 1rem;
}
.wish .progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
}
.wish .progress p {
  font-size: 0.9rem;
}
.wish .progress .progress-bar {
  width: 100%;
  height: 20px;
  border: 1px solid #F16876;
}
.wish .progress .progress-bar div {
  height: 100%;
  width: 30%;
  background-color: #91FFE2;
}
.wish .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.wish .footer p {
  font-size: 1rem;
}
.wish .footer form {
  align-items: flex-start;
  width: 40%;
}
.wish .footer form input {
  font-size: 0.9rem;
  padding: 5px;
  width: 60%;
  margin: 0px;
  border-color: #F16876;
}
.wish .footer form button {
  font-size: 0.9rem;
  padding: 5px 0px;
  width: 40%;
}

.user-info {
  color: #95989A;
  border-bottom: 1px solid #95989A;
  margin-bottom: 30px;
}
.user-info p {
  font-size: 0.9rem;
}

.index header, .index footer {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}
.index header p, .index footer p {
  color: #FFF;
}
.index .link {
  color: #FFF;
}
.index .link:after {
  background-color: #FFF;
}
.index .link:hover:before {
  background-color: #FFF;
}
.index .social a {
  color: #FFF;
}
.index section:nth-child(1) {
  background: url("../img/city.jpeg") no-repeat center center fixed;
  background-size: cover;
}
.index section:nth-child(2) {
  background-color: #b3001b;
}
.index section:nth-child(3) {
  background-color: #2acfcd;
}
.index section:nth-child(4) {
  background-color: #00A65A;
}
.index section:nth-child(5) {
  background-color: #F39C12;
}
.index section:not(:nth-child(1)) {
  background-image: url("../img/45deg2.png");
}
.index .main-section {
  background-color: rgba(0, 0, 0, 0.6);
}
.index .main-section h1, .index .main-section p {
  color: #FFF;
  margin-bottom: 20px;
}
.index .main-section p {
  font-size: 1.5rem;
  max-width: 1000px;
  text-align: center;
}
.index .main-section .btn {
  font-size: 1.2rem;
  padding: 10px 20px;
}
.index .s-section h2, .index .s-section p {
  color: #FFF;
  margin-bottom: 20px;
}
.index .s-section h4 {
  color: #FFF;
}
.index .s-section .btn {
  padding: 5px 30px;
}
.index .s-section .t-align:not(:last-child) {
  margin-right: 20px;
}
.index .s-section input, .index .s-section textarea {
  border-color: transparent;
}
.index .s-section input:focus, .index .s-section textarea:focus {
  border-color: #1D9D74;
}
.index #pp-nav ul {
  display: block;
}
.index #pp-nav li .active span, .index .pp-slidesNav .active span {
  background-color: #FFF;
}

.about {
  overflow: scroll;
}
.about main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.about .slides {
  top: 0%;
  position: fixed;
  width: 100%;
  height: 100%;
}
.about section {
  color: #FFF;
  overflow: hidden;
  background-image: url("../img/45deg2.png");
}
.about section:not(:nth-child(1)) {
  top: 100%;
}
.about section:nth-child(1) {
  background-color: #F16876;
}
.about section:nth-child(1) .header {
  background-color: #F16876;
}
.about section:nth-child(2) {
  background-color: #b3001b;
}
.about section:nth-child(2) .header {
  background-color: #b3001b;
}
.about section:nth-child(3) {
  background-color: #00A65A;
}
.about section:nth-child(3) .header {
  background-color: #00A65A;
}
.about .text {
  height: 500px;
  left: 0px;
  right: 0px;
}
.about h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}
.about h3 {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
}
.about p {
  font-family: "Merriweather", serif;
  font-size: 0.85rem;
}
.about .main-image {
  width: 700px;
  height: auto;
  z-index: 1;
}
.about .left, .about .right {
  z-index: 2;
}
.about .w45 {
  width: 48%;
}
.about .left {
  top: 10px;
  left: 0px;
  text-align: right;
}
.about .right {
  bottom: 10px;
  right: 0px;
  text-align: left;
}
.about .inner {
  max-width: 1300px;
  height: 100%;
}
.about .inner:after {
  position: absolute;
  background-color: #FFF;
  width: 1px;
  content: "";
  top: 0px;
  left: 50%;
  bottom: 0px;
  margin-left: -0.5px;
  z-index: 0;
  display: block;
}
.about .header {
  z-index: 1;
  height: 100px;
  margin-top: 10px;
  background-image: url("../img/45deg2.png");
}
.about .header:after, .about .header:before {
  display: block;
  position: absolute;
  background-color: transparent;
  border: 5px solid #FFF;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  left: 50%;
  margin-left: -10px;
  z-index: 0;
}
.about .header:after {
  top: 0px;
}
.about .header:before {
  bottom: 0px;
}

.login {
  background-color: #EEF4F5;
}
.login footer {
  position: relative;
  box-shadow: 0px 500px 0px 500px #FFF;
}
.login main {
  padding: 70px 0px 0px;
}
.login section {
  max-width: 680px;
  width: 100%;
  background-color: #FFF;
  margin: 40px auto;
  border-radius: 4px;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.login .tabs {
  margin-bottom: 40px;
}
.login h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.login .w45 {
  width: 48%;
}
.login .top-row div:first-child {
  margin-right: 4%;
}
.login input:not([type=checkbox]) {
  margin-bottom: 30px;
  font-size: 1.2rem;
  padding: 10px;
  border-color: #A0B3B0;
}
.login input:not([type=checkbox]):focus {
  border-color: #A0B3B0;
}
.login .terms span, .login .terms a {
  font-family: "Lato", sans-serif;
}
.login .terms input {
  margin-right: 5px;
}
.login button {
  padding: 15px 0px;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.login .forgot {
  cursor: pointer;
  right: 0px;
  bottom: 70px;
  perspective: 500px;
}
.login .forgot:hover {
  color: #1D9D74;
}
.login .forgot p {
  font-size: 1rem;
}
.login .forgot-form {
  background-color: #FFF;
  padding: 10px 20px 15px 20px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  width: 232px;
  top: 78%;
  border: 1px solid #7a7a7a;
  right: -60px;
  cursor: initial;
  transform-origin: center 0px;
  z-index: 200;
}
.login .forgot-form .arrow {
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background-color: #FFF;
  border-top: 1px solid #7a7a7a;
  border-left: 1px solid #7a7a7a;
  z-index: 1;
  bottom: 100%;
  margin-bottom: -9px;
}
.login .forgot-form .pas-wrapper {
  overflow: hidden;
  height: 60px;
}
.login .forgot-form .forgot-form form {
  margin-top: 5px;
}
.login .forgot-form label, .login .forgot-form input, .login .forgot-form button {
  font-size: 0.8rem;
}
.login .forgot-form input, .login .forgot-form button {
  padding: 3px;
  height: 25px;
}
.login .forgot-form input {
  width: 70%;
  margin: 0px;
}
.login .forgot-form button {
  width: 30%;
  padding: 3px;
}
.login .forgot-form label {
  font-family: "Lato", sans-serif;
}
.login .forgot-form .done i {
  left: 50%;
  margin-left: -13.71667px;
  color: #1D9D74;
}
.login .forgot-form .done p {
  text-align: center;
  font-size: 1rem;
}

.userpage footer {
  position: relative;
  box-shadow: 0px 500px 0px 500px #FFF;
}
.userpage .main-content {
  width: 55%;
  box-shadow: 2px 4px 20px rgba(19, 35, 47, 0.3);
}
.userpage .main-section {
  border-top: 1px solid #F16876;
  padding: 15px 12px 15px;
}
.userpage h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.userpage input {
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #A0B3B0;
}
.userpage .divisor {
  padding: 10px 10px 0px;
  margin-bottom: 20px;
}
.userpage .divisor p, .userpage .divisor span {
  font-size: 1rem;
  margin-bottom: 5px;
  margin-left: 5px;
}
.userpage .select {
  border-bottom: 1px solid #95989A;
  margin-bottom: 20px;
}
.userpage .currency {
  color: #FFD700;
}
.userpage .donated {
  border-right: 1px solid #000;
  padding-right: 10px;
  width: 15%;
}
.userpage .donated div {
  margin-bottom: 10px;
}
.userpage .donated p:first-child {
  font-size: 0.8rem;
}
.userpage .stars {
  margin-bottom: 20px;
}
.userpage .stars p {
  font-size: 0.9rem;
}
.userpage .star-info p:first-child {
  font-size: 0.8rem;
}
.userpage .star-info p:first-child a {
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  color: #F16876;
}
.userpage .star-info p:last-child {
  font-size: 0.75rem;
  color: #626567;
}
.userpage .wishes {
  height: 531px;
}

.current-wishes footer {
  position: relative;
  box-shadow: 0px 500px 0px 500px #FFF;
}
.current-wishes .wish {
  width: 330px;
  border: 3px solid #F16876;
  margin-bottom: 30px;
}
.current-wishes .footer p {
  font-size: 0.8rem;
}
.current-wishes .footer form {
  width: 50%;
}

header {
  z-index: 1000;
  height: 70px;
  background-color: #FFF;
  position: fixed;
  color: #000;
  border-bottom: 1px solid #000;
}
header .mobile {
  cursor: pointer;
  display: none;
  font-size: 1.25rem;
}

nav {
  max-width: 585px;
  z-index: 999;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 70px;
  background-color: #FFF;
  border-top: 1px solid #000;
  z-index: 1;
}
footer p {
  font-size: 0.9rem;
  color: #000;
}
footer p a {
  font-size: inherit;
  color: inherit;
  opacity: 0.6;
}
footer p a:hover {
  opacity: 1;
}

.social {
  width: 200px;
}
.social a {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
}
.social .facebook:hover {
  color: #3B5998;
}
.social .twitter:hover {
  color: #55ACEE;
}
.social .vk:hover {
  color: #507299;
}
.social .instagram:hover {
  color: #833AB4;
}

@media only screen and (max-width: 1030px) {
  footer div.col-12, header div.col-12 {
    margin: 0 20px;
  }

  .index #pp-nav {
    display: none;
  }
  .index div.col-12 {
    padding: 0px 20px;
  }

  .about footer {
    position: relative;
  }
  .about main {
    height: auto;
    overflow: scroll;
  }
  .about .slides {
    position: static;
    width: 100%;
  }
  .about section {
    overflow: visible;
    position: static;
    width: 100%;
    height: 700px;
  }
  .about section:not(:first-child) .inner {
    padding: 20px 0px;
  }
  .about .main-image {
    top: 55%;
  }
  .about .text {
    position: relative;
    height: 85%;
  }
  .about .inner {
    height: 100%;
  }

  .userpage main {
    padding-right: 20px;
    padding-left: 20px;
  }

  .current-wishes main {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 770px) {
  :root {
    font-size: 15px;
  }

  nav {
    max-width: 400px;
  }

  .login .forgot-form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: none;
  }
  .login .forgot-form .arrow {
    display: none;
  }

  .userpage main > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .userpage .main-content {
    width: 100%;
  }
  .userpage .wishes {
    width: 80%;
  }

  .current-wishes section.wrap {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 740px) {
  .index section div.col-12:not(.vertical) {
    flex-direction: column;
    padding: 100px 20px 50px;
  }
  .index section div.col-12:not(.vertical) div {
    width: 100%;
  }
  .index img {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 670px) {
  .about section {
    height: 600px;
  }
  .about .main-image {
    max-width: 600px;
    width: 100%;
  }
  .about .right {
    bottom: auto;
    top: 10px;
  }
  .about .text {
    height: 80%;
  }

  .login section {
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
  }

  .current-wishes section.wrap {
    justify-content: space-between;
  }
  .current-wishes .wish {
    width: 320px;
    box-shadow: none;
  }
}
@media only screen and (max-width: 570px) {
  :root {
    font-size: 14px;
  }

  header .mobile {
    display: block;
  }

  nav.mw {
    position: fixed;
    top: 0px;
    right: -150px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    width: 150px;
    padding: 20px 10px 0px;
  }
  nav.mw ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  nav.mw ul li {
    border-bottom: 1px solid #FFF;
    padding: 5px 0px;
  }

  .link {
    color: #FFF;
  }
  .link:after, .link:before {
    display: none;
  }

  .social {
    width: 150px;
  }

  .index .contact-form {
    flex-direction: column;
  }
  .index .contact-form p, .index .contact-form form {
    width: 100%;
  }

  .about .inner:after {
    display: none;
  }
  .about .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .about .text div {
    position: static;
    width: 80%;
    text-align: left;
  }
  .about .main-image {
    position: static;
    transform: none;
    margin-left: 10%;
  }

  .current-wishes section.wrap {
    justify-content: space-around;
  }
  .current-wishes .wish {
    width: 350px;
  }
}
@media only screen and (max-width: 420px) {
  footer div.col-12 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social {
    width: 200px;
  }

  .index img {
    width: 280px;
    height: 280px;
  }

  .about section {
    height: 550px;
  }

  .login section {
    padding: 20px 10px;
  }

  .userpage main {
    padding-right: 0px;
    padding-left: 0px;
  }
  .userpage .wishes {
    width: 90%;
  }
  .userpage .tabs {
    font-size: 1.5rem;
  }
  .userpage .tabs i {
    display: block;
  }
  .userpage .tabs span {
    display: none;
  }
  .userpage .main-content section:nth-child(3) > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .userpage .main-content section:nth-child(3) > div .donated, .userpage .main-content section:nth-child(3) > div .achievements-info {
    width: 100%;
  }
  .userpage .donated {
    border-right: none;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .userpage .donated div:first-child {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 380px) {
  footer div.col-12, header div.col-12 {
    margin: 0 5px;
  }

  .about .text div {
    width: 90%;
  }

  .login section {
    padding: 20px 0px;
  }
  .login .form {
    padding: 0px 10px;
  }
  .login .forgot {
    right: 10px;
  }

  .userpage .wishes {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  footer .copyright {
    text-align: center;
  }

  .login .top-row {
    flex-direction: column;
  }
  .login .top-row div {
    width: 100%;
    margin: 0;
  }

  .userpage .main-section {
    padding: 15px 5px;
  }

  .current-wishes main {
    padding-left: 0px;
    padding-right: 0px;
  }
  .current-wishes .wish {
    width: 100%;
    border-right: none;
    border-left: none;
  }
}
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("4-vendor/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("4-vendor/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("4-vendor/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("4-vendor/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("4-vendor/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("4-vendor/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-star:before {
  content: "";
}

.fa-cog:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-bars:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-usd:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-address-card-o:before {
  content: "";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/*!
 * pagepiling.js 1.5.4
 *
 * https://github.com/alvarotrigo/pagePiling.js
 * @license MIT licensed
 *
 * Copyright (C) 2016 alvarotrigo.com - A project by Alvaro Trigo
 */
html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent;
}

.pp-section {
  height: 100%;
  position: absolute;
  width: 100%;
}

.pp-easing {
  -webkit-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -moz-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  /* custom */
}

#pp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
}

#pp-nav.right {
  right: 17px;
}

#pp-nav.left {
  left: 17px;
}

.pp-section.pp-table {
  display: table;
}

.pp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.pp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}

.pp-slidesNav.bottom {
  bottom: 17px;
}

.pp-slidesNav.top {
  top: 17px;
}

#pp-nav ul,
.pp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#pp-nav li,
.pp-slidesNav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.pp-slidesNav li {
  display: inline-block;
}

#pp-nav li a,
.pp-slidesNav li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
  background: #333;
}

#pp-nav span,
.pp-slidesNav span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.pp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
}

.pp-tooltip.right {
  right: 20px;
}

.pp-tooltip.left {
  left: 20px;
}

.pp-scrollable {
  overflow-y: scroll;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
