* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: transparent;
}

html {
	position: relative;
	min-height: 100%;
}

header {
    position: fixed;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;

    justify-content: space-around;
    align-items: center;
}

.headerwrap {
    display: flex;
    width: 1036.8px;
    max-width: 1036.8px;
    height: 100%;

    justify-content: space-between;
    align-items: center;
}

.navtitle {
    font-family: 'Merriweather', serif;
    font-size: 1.25em;
    display: inline-block;
}

nav {
    font-size: 1em;
}

nav ul {
    display: flex;
    box-sizing: border-box;
    width: 300px;
    max-width: 300px;
    list-style: none;

    justify-content: space-between;
}

nav .lastmenu {
    display: inline;
    box-sizing: border-box;
}

nav .lastmenulink {
    color: black;
}

nav .lastmenulink i {
    margin-top: 3px;
}

nav .lastmenulink:hover {
    color: #707070;
}

nav .menulink {
    font-family: 'Open Sans', serif;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

nav .menulink:hover {
    color: #707070;
}

nav .current {
    color: blue;
}

main {
    display: flex;
    width: 100%;
    padding-top: 100px;

    justify-content: center;
    align-items: center;
}

.userpagecontent {
    width: 100%;
    max-width: 1036.8px;
}

body {
    background-color: rgba(201, 219, 225, 0.3);
    background-image: url(../img/absurdity.png);
}

.maintabs {
    width: 55%;
}

.maincontentwrapper {
    display: flex;
    width: 100%;
    height: auto;

    justify-content: space-between;
    align-items: flex-start;
}

.maincontent {
    float: left;
    clear: left;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgb(241, 104, 118);
    background-color: white;
    box-shadow: 2px 4px 20px rgba(19, 35, 47, 0.3);
}

.usernav ul {
    display: flex;

    justify-content: flex-start;
}

.usernav li {
    display: inline-block;
}

.usernav .tabusr {
    font-family: 'Open Sans', serif;
    font-size: 1em;
    display: inline-flex;
    box-sizing: border-box;
    height: 30px;
    margin: 0;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgb(241, 104, 118);
    border-bottom: none;
    border-left: 1px solid rgb(241, 104, 118);
    background-color: white;
}

.lastuser {
    border-right: 1px solid rgb(241, 104, 118);
}

.usernav .tabusr:hover {
    color: white;
    background-color: rgb(236, 58, 76);
}

.usernav .active {
    color: white;
    background-color: rgb(241, 104, 118);
}

.formcontentusr {
    width: auto;
    margin-right: 2%;
    margin-left: 2%;
    padding-bottom: 15px;
}

.userinfowrapper {
    width: 100%;
    max-width: 1036.8px;
    margin-bottom: 30px;
}

.userinfo {
    display: flex;
    color: #95989A;
    border-bottom: 1px solid #95989A;

    justify-content: space-between;
    align-items: center;
}

.userinfo .balance {
    text-align: right;
}

.one {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.topprofile input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 18px;
    padding: 5px;
    border: 1px solid #A0B3B0;
    border-radius: 3px;
}

input:focus, input.input:focus {
    border-color: #B3D6CD;
}

.field {
    display: block;
}

.input {
    border: 1px solid #A0B3B0;
}

.wrapper {
    padding-top: 16px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.wrapper input {
    margin-top: 0;
    margin-bottom: 16px;
}

.wish {
    box-sizing: border-box;
    width: 100%;
}

h1 {
    font-family: 'Open Sans', serif;
    font-size: 1.5em;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
}

.confirm {
    position: relative;
    z-index: 1;
    margin-top: 10px;
    padding: 10px 10px 2px 10px;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.3);
}

.confirm .willspin, .address .willspin {
    position: absolute;
    top: 2px;
    color: #424242;
}

.confirm p, .address p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    position: relative;
    margin-bottom: 5px;

    perspective: 1000px;
}

.address p {
    margin-bottom: 10px;
}

.address p span, .confirm p span {
    margin-left: 25px;
}

.address p .willspin {
    position: absolute;
    top: 2px;
}

.confirm input:not(.street) {
    width: 40%;
    margin-bottom: 16px;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
}

.showpassword {
    position: absolute;
    top: 39px;
    left: 210px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.showpassword i {
    position: absolute;
    cursor: pointer;
    color: #777777;
}

.spinthingY {
    transition: all 600ms ease-in-out;
    transform: rotateY(360deg);
    transform-origin: center center;
}

.spinthing {
    transition: all 600ms ease-in-out;
    transform: rotate(360deg);
    transform-origin: center center;
}

.showpassword i:hover {
    color: #555555;
}

.showpassword i.hidden {
    display: none;
}

.btnwrapper {
    margin-top: 10px;
    border-top: 1px solid grey;
}

.btnwrapper button {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    display: block;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    background-color: rgb(241, 104, 118);
}

button:hover {
    color: white;
    background-color: rgb(236, 58, 76);
}

.topup select {
    display: block;
    width: 30%;
    margin-bottom: 10px;
    padding: 2px;
}

.topup input:not(.amount):not(.carddate):not(.ccv):not(.card):not(.cardname) {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}

.amount {
    font-size: 1em;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
    padding: 5px;
    border: 1px solid #A0B3B0;
    border-radius: 3px;
}

.amount:focus ~ i {
    color: #555555;
}

.dollar {
    position: relative;
    display: inline-block;
    width: 28.5%;
    color: #777777;
}

.dollar i {
    position: absolute;
    top: 50%;
    right: 5%;
    margin-top: -8px;
}

.inputdivisor {
    position: relative;
    display: inline-block;
    width: 45%;
}

.inputdivisor:first-child {
    margin-bottom: 13px;
}

.input.card, .input.cardname, .input.carddate, .input.ccv {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 1px solid #A0B3B0;
    border-radius: 3px;
    background-color: white;
}

.createwish input {
    margin-bottom: 13px;
    padding: 5px;
    border-radius: 3px;
}

.two {
    border-bottom: 1px solid grey;
}

.wishwrapper {
    position: relative;
    width: 100%;
}

.addresswrapper {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.street {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
}

.city input, .zip input, .country input {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
}

.city, .zip, .country {
    position: relative;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: 30%;
}

.city, .zip {
    margin-right: 5.001%;
}

.boxes {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 479px;

    justify-content: space-between;
}

.box {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    box-shadow: 2px 4px 20px rgba(19, 35, 47, 0.3);
}

.box h2 {
    font-family: 'Open Sans', serif;
    font-size: 1.3em;
    line-height: 1.8em;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(241, 104, 118);
}

.boxcontent {
    font-family: 'Lato', sans-serif;
    padding: 10px 20px;
    background-color: white;
}

.boxcontent .title {
    font-size: 1.4em;
}

.boxcontent .para {
    font-size: 1em;
    line-height: 1.4em;
}

.boxcontent .boxtop {
    display: flex;
    height: 28.2px;
    margin-bottom: 18px;

    justify-content: space-between;
    align-items: flex-end;
}

.progresspara {
    font-size: 0.9em;
}

.progress {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    margin-bottom: 40px;
    border: 1px solid rgb(241, 104, 118);
}

.collected {
    display: inline-block;
    width: 49.45%;
    margin-bottom: 20px;
}

.donate {
    display: inline-block;
    display: inline-flex;
    width: 49.45%;

    justify-content: flex-end;
}

.donate input {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    box-sizing: border-box;
    width: 60%;
    padding: 3px;
    border: 1px solid rgb(241, 104, 118);
}

.donate button {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    line-height: 0.9em;
    width: 30%;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    color: white;
    background-color: rgb(241, 104, 118);
}

.donate button:hover {
    background-color: rgb(236, 58, 76);
}

#settings {
    display: block;
}

#money {
    display: none;
}

#achievements {
    display: none;
}

#wish {
    display: none;
}

#barone {
    width: 57%;
    height: 100%;
    background-color: #91FFE2;
}

#bartwo {
    width: 57%;
    height: 100%;
    background-color: #91FFE2;
}

.credittop, .creditbottom {
    display: flex;

    justify-content: space-around;
    align-items: flex-start;
}

#credit {
    display: block;
}

#paypal {
    display: none;
}

#qiwi {
    display: none;
}

#datetitle, #yeartitle {
    margin-bottom: 1px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
    height: 30px;
    margin-right: 5px;
    border: 1px solid #A0B3B0;
    border-radius: 3px;
    background: #FFFFFF url('../img/caret-bottom.svg') no-repeat 90% 50%;
}

.currenttitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 20px;
    display: inline-block;
    width: 90%;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    color: black;
}

.dropdownitems {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: white;
    box-shadow: 2px 4px 20px rgba(19, 35, 47, 0.3);
}

.dropdownitems a {
    font-size: 1em;
    display: block;
    padding: 10px 0 10px 15%;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.dropdownitems a:hover {
    color: white;
    background-color: rgb(241, 104, 118);
}

.datefield {
    display: inline-block;
    width: 30.3%;
}

.methdofield {
    width: 30.3%;
}

.month {
    overflow: scroll;
    height: 30%;
}

.selected {
    color: black;
}

#date {
    display: none;
}

#year {
    display: none;
}

#menutitle {
    margin-bottom: 6px;
    padding-top: 5px;
    padding-left: 5px;
    color: black;
}

.achievementswrapper {
    display: flex;
    height: 100%;

    justify-content: space-between;
    align-items: stretch;
}

.numbers {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 14%;
    border-right: 1px solid #666666;

    justify-content: flex-start;
}

.awards {
    width: 80%;
}

.currency {
    position: relative;
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: flex-start;
}

.infoses {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    width: 100%;
    max-width: 70%;
    margin-bottom: 20px;
    color: #333333;
}

.infoses .awardmoreinfo {
    font-size: 0.9em;
    color: #666666;
}

.infoses .awardinfo {
    position: relative;
}

.infoses .awardinfo .extra {
    cursor: pointer;
    color: #F16876;
}

.infoses .awardinfo .extra:hover {
    color: #FF2700;
}

.stars {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    line-height: 1.1em;
    position: absolute;
    right: 55px;
}

.remove {
    animation: noteminus 500ms ease-in-out forwards;
}

.add {
    animation: noteplus 500ms ease-in-out forwards;
}

@keyframes noteminus {
    0% {
        opacity: 1;
    }
    100% {
        transform: translateY(50px);
        opacity: 0;
    }
}

@keyframes noteplus {
    0% {
        transform: scale(0.1) rotate(-30deg) translateY(-50px) rotateX(90deg);
        opacity: 0;
    }
    50% {
        transform: rotate(10deg) rotateX(-2deg);
        opacity: 1;
    }
    70% {
        transform: rotate(-3deg);
    }
    100% {
        transform: scale(1);
    }
}

.stars i {
    color: #FFD700;
}

.notenough {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 15%;
    display: none;
    width: 210px;
    padding: 10px;
    transform-origin: center 0;
    text-align: center;
    color: #02549C;
    border: 1px solid black;
    background-color: #FFFFFF;
}

.notenough:before {
    position: absolute;
    top: 0;
    left: 35%;
    width: 15px;
    height: 15px;
    margin-top: -8.3px;
    content: '';
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-left: 1px solid black;
    background-color: white;
}

.cool {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 15%;
    display: none;
    width: 210px;
    padding: 10px;
    text-align: center;
    color: #1D9D74;
    border: 1px solid black;
    background-color: #FFFFFF;
}

.cool:before {
    position: absolute;
    top: 0;
    left: 35%;
    width: 15px;
    height: 15px;
    margin-top: -8.3px;
    content: '';
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-left: 1px solid black;
    background-color: white;
}

.badges {
    display: inline-flex;
    box-sizing: border-box;

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.badges .badgewrapper {
    position: relative;
    width: 80px;
    height: 79px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.badges .badgewrapper:nth-child(4n) {
    margin-right: 0;
}

.badges .badgewrapper img {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.badges .badgewrapper span {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    position: relative;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    color: #333333;
}

.badges .badgewrapper .achievtooltip {
    font-family: 'Lato', sans-serif;
    position: absolute;
    z-index: 5;
    display: none;
    width: 165%;
    padding: 10px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.7);
}

.badges .badgewrapper .achievtooltip:before {
    position: absolute;
    top: -20px;
    left: calc(50% - 5px);
    width: 0;
    height: 0;
    content: '';
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.7);
    border-left: 10px solid transparent;
}

.badges .badgewrapper .achievtooltip h4 {
    font-size: 0.8em;
    font-weight: 400;
}

.badges .badgewrapper .achievtooltip p {
    font-size: 0.7em;
}

.badges .badgewrapper .achievtooltip em {
    font-style: normal;
}

.radial {
    position: relative;
    top: 5px;
    left: 15px;
    width: 50px;
    height: 50px;
}

.radial .Sektor {
    position: relative;
    z-index: 2;
    width: 50px;
    height: 50px;
    transform: rotateY(180deg);
}

.donatedrow {
    display: inline-block;
    box-sizing: border-box;
    color: #333333;
}

.donatedrow:first-child {
    margin-bottom: 10px;
}

.donatedrow .donated {
    font-size: 0.8em;
    display: block;
}

.donatedrow .doanteddollar {
    font-size: 1.1em;
}

.errortxt {
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    position: absolute;
    width: 100%;
    margin-top: -18px;
    color: #FF4500;
}

.errortxtcard {
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    position: absolute;
    bottom: -13px;
    left: 2px;
    width: 100%;
    color: #FF4500;
}

.errortxtaddress {
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    position: absolute;
    top: 29px;
    left: 2px;
    width: 100%;
    color: #FF4500;
}

.amountwrapper {
    width: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.cardcontainer {
    position: relative;
    z-index: 0;
    width: 350px;
    margin: 10px auto;
}

.formwrapper {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.bakcgroundcc {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.3);
}

.address {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    padding: 15px 15px 5px 15px;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.3);
}

.cf {
    zoom: 1;
}

.cf:before, .cf:after {
    display: table;
    content: ' ';
}

.cf:after {
    clear: both;
}

@-moz-document url-prefix() {
    .showpassword {
        position: absolute;
        top: 42px;
        left: 210px;
    }
}

::-webkit-input-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    color: #777777;
}

:-moz-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    line-height: 1em;
}

::-moz-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    line-height: 1em;
}

:-ms-input-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    line-height: 1em;
    color: #777777;
}

input::-webkit-contacts-auto-fill-button {
    position: absolute;
    right: 0;
    display: none !important;
    visibility: hidden;
    pointer-events: none;
}

.openmenu {
    position: relative;
    right: 0;
    display: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.openmenu:hover {
    color: #707070;
}

.mobilenavwrapper {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: -145px;
    bottom: 0;
    display: block;
    width: 145px;
    transition: all 500ms ease-in-out;
    background-color: #333333;
}

.siderbar {
    right: 0;
}

.siderbartoggler {
    right: 145px;
}

.mobilenav {
    padding: 20px;
}

.mobilenav ul {
    list-style: none;
}

.mobilenav ul li:not(:last-child) {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    border-style: inset;
}

.mobilenav ul li a {
    font-family: 'Open Sans', serif;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.mobilenav ul li a:hover {
    color: rgba(255, 255, 255, 1);
}

.mobileusernav {
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 0px;
    left: 0;
    display: none;
    height: 70px;
    background-color: #F16876;
}

.mobileusernav ul {
    font-family: 'Open Sans', serif;
    display: flex;
    width: 100%;
    max-width: 1036.8px;
    height: 100%;
    margin: 0 auto;
    list-style: none;
    color: rgba(255, 255, 255, 0.8);

    justify-content: space-around;
    align-items: center;
}

.mobileusernav ul li {
    display: flex;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.mobileusernav ul li a {
    display: flex;
    flex-direction: column;
    height: 60%;
    cursor: pointer;

    justify-content: space-around;
    align-items: center;
}

.mobileusernav ul li a:hover {
    color: rgba(255, 255, 255, 1);
}

.mobileusernav ul li a span {
    font-size: 0.8em;
}

.mobileactive {
    color: #FFFFFF;
}

footer {
    display: flex;
    width: 100%;
    height: 70px;
    margin-top: 50px;
    border-top: 1px solid #929292;
    background-color: #FFFFFF;
    box-shadow: 0px 500px 0px 500px #fff;

    justify-content: space-around;
    align-items: flex-start;
}

footer .footerwrap {
    display: flex;
    width: 100%;
    max-width: 1036.8px;
    height: 70px;
    box-sizing: border-box;

    justify-content: space-between;
    align-items: center;
}

footer .footerwrap .social {
    width: 200px;
}

footer .footerwrap .social ul {
    display: flex;
    width: 100%;
    list-style: none;

    justify-content: space-between;
    align-items: center;
}

footer .footerwrap .social ul li a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

footer .footerwrap .social ul li a i {
    font-size: 1.5em;
}

footer .footerwrap .social ul li a.facebook:hover {
    color: #3B5998;
}

footer .footerwrap .social ul li a.twitter:hover {
    color: #55ACEE;
}

footer .footerwrap .social ul li a.vk:hover {
    color: #507299;
}

footer .footerwrap .social ul li.sociallast {
    display: block;
    height: 24px;
    width: 24px;
    background-color: black;
    clip-path: url(#svgPath);
}

footer .footerwrap .social ul li a.instagram svg{
    width: 100%;
    height: 100%;
}

footer .footerwrap .social ul a.instagram {
    cursor: pointer;
}

footer .footerwrap .social ul a.instagram:hover > li {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

footer .footerwrap .copyright p {
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
}

footer .footerwrap .copyright p a {
    color: #666;
    text-decoration: none;
}

footer .footerwrap .copyright p a:hover {
    color: #333;
}

@media only screen and (max-width: 1036px) {
	main {
		padding-bottom: 100px;
	}

    .headerwrap {
        margin: 0 20px;
    }

    #mobileonly {
        display: block;
    }

    .userinfo {
        margin-right: 20px;
        margin-left: 20px;
    }

    .usernav {
        display: none;
    }

    .mobileusernav {
        display: block;
    }

    .maincontentwrapper {
        justify-content: space-around;
    }

    .maintabs {
        width: 90%;
        margin: 0 auto;
    }

    .numbers {
        width: 10%;
    }

    .awards {
        width: 84%;
    }

    .maincontent {
        border: 1px solid #95989A;
        box-shadow: none;
        box-sizing: border-box;
    }

    #currentpaswd {
        width: 215px;
    }

    .badges .badgewrapper:nth-child(4n) {
        margin-right: 20px;
    }

    .badges .badgewrapper:nth-child(7n) {
        margin-right: 0;
    }

    .box {
        width: 45%;
        border: 1px solid #95989A;
        box-shadow: none;
    }

    .boxes {
        display: none;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        height: auto;

        justify-content: space-around;
        align-items: center;
    }

    .dollar i {
        right: 5%;
    }

    footer {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
	.boxes {
		flex-direction: column;
	}

	.box {
		width: 414.717px;
	}

	.box:first-child {
		margin-bottom: 30px;
	}

	.numbers {
		width: 12%;
	}

	.awards {
		width: 82%;
	}

	.badges .badgewrapper:nth-child(7n) {
		margin-right: 20px;
	}
}

@media only screen and (max-width: 670px) {
    .headerwrap {
        margin: 0 5px;
    }

    .userinfo {
        margin-right: 5px;
        margin-left: 5px;
    }
	
	.badges {
		padding-left: 20px;
	}

	.boxcontent .title {
        font-size: 1.2em;
    }

    .box h2 {
        font-size: 1.2em;
    }

    .boxcontent .para {
        font-size: 0.8em;
        line-height: 1.2em;
    }

    .boxcontent .progresspara {
        font-size: 0.8em;
    }

    .boxcontent .collected {
        font-size: 0.9em;
    }

    .footerwrap {
        margin: 0 5px;
    }

}

@media only screen and (max-width: 568px) {
	.badges {
		padding: 0px;
	}

	.badges .badgewrapper:nth-child(4n) {
		margin-right: 0px;
	}

    footer .footerwrap {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .openmenu {
        display: block;
    }

    nav {
        display: none;
    }

    .maintabs {
        width: 100%;
        margin: 0;
    }

    .maincontent {
    	border-right: none;
    	border-left: none;
    }

    .numbers {
        width: 18%;
    }

    .awards {
        width: 72%;
    }

    .badges .badgewrapper:nth-child(4n) {
        margin-right: 20px;
    }

    .badges .badgewrapper:nth-child(7n) {
        margin-right: 20px;
    }

    .badges .badgewrapper:nth-child(3n) {
        margin-right: 0px;
    }

    .box {
        width: 92%;
        margin-bottom: 20px;
    }

    .boxes {
        display: none;
        flex-direction: column;
        width: 100%;
        margin: 0;

        justify-content: flex-start;
        align-items: center;
    }

    h1 {
        font-size: 1.25em;
    }

    .currenttitle {
        font-size: 0.9em;
    }

    .dropdownitems a {
        font-size: 0.9em;
    }

    .confirm p, .address p {
        font-size: 0.9em;
    }

    ::-webkit-input-placeholder {
        font-size: 1em;
        line-height: 1.2em;
    }

    :-moz-placeholder {
        font-size: 1em;
        line-height: 1.2em;
    }

    ::-moz-placeholder {
        font-size: 1em;
        line-height: 1.2em;
    }

    :-ms-input-placeholder {
        font-size: 1em;
        line-height: 1.2em;
    }

    .formwrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .headerwrap {
        margin: 5px;
    }

    .userinfo {
        margin-right: 5px;
        margin-left: 5px;
    }

    .navtitle {
        font-size: 1.1em;
    }

    h1 {
        font-size: 1.15em;
    }

    .confirm p, .address p {
        font-size: 0.8em;
    }

    p.field > span:nth-child(2) {
        margin-left: 20px;
    }

    .showpassword {
        top: 38px;
        left: 210px;
    }

    .cardcontainer {
        display: none;
    }

    .amountwrapper {
        display: flex;

        justify-content: space-between;
    }

    .bakcgroundcc {
        padding: 20px;
    }

    .methdofield {
        box-sizing: border-box;
        width: 45%;
        margin-right: 0;
    }

    .dollar {
        width: 45%;
    }

    .dollar .amount {
        height: 30px;
    }

    .dollar i {
        right: 5%;
    }

    .credittop, .creditbottom {
        flex-direction: column;
    }

    .inputdivisor {
        width: 100%;
        margin-bottom: 13px;
    }

    #paypal input {
        margin-right: auto;
        margin-left: auto;
    }

    #qiwi input {
        margin-right: auto;
        margin-left: auto;
    }

    .achievementswrapper {
        flex-direction: column;
    }

    .achievementswrapper .numbers {
        flex-direction: row;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #666666;

        justify-content: space-around;
    }

    .achievementswrapper .awards {
        width: 100%;
        margin-top: 20px;
    }

    .stars {
        right: 5px;
    }

    .infoses {
        width: 90%;
    }

    .badges {
        justify-content: center;
    }

    .badges .badgewrapper:nth-child(3n) {
        margin-right: 0;
    }

    .box {
        width: 100%;
    }

    .mobileusernav ul li a span {
        font-size: 0.65em;
    }

    .mobilenav ul li a {
    	font-size: 0.8em;
    }

    footer .footerwrap .copyright p {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 320px) {
	.showpassword {
		top: 53px;
	}

	.dropdownitems a {
    	padding-left: 10px;
    }

    .donate {
        width: 100%;
        justify-content: flex-start;
    }

    .donate button {
    	width: 40%;
    }

    .boxcontent .collected {
        width: 100%;
    }

    .box.random .boxcontent .collected {
    	margin-bottom: 10px;
    }

    .badges .badgewrapper .achievtooltip {
        width: 120%;
    }

    footer .footerwrap .copyright p {
        font-size: 0.7em;
    }

}

.displayflex {
    display: flex;
}