* {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
	font-size: 100%;
}

header {
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: white;
}

.navtitle {
	display: inline-block;
	margin-top: 27px;
	margin-left: 14%;
	font-family: 'Merriweather', serif;
	font-size: 1.25em;
}

nav {
	float: right;
	margin-top: 25px;
	margin-right: 14%;
	font-size: 1em;
}

nav a {
	text-decoration: none;
	color: black;
	font-family: 'Open Sans', serif;
}

nav a:hover {
	color: #707070;
}

nav .current {
	color: blue;
}

nav li {
	display: inline;
	box-sizing: border-box;
	padding: 0 30px;
}

main {
	padding-top: 70px;
}

.mainheadingwrapper {
	width: 100%;
	height: 275px;
	background-color: rgba(0, 25, 150, 0.1);
	background-image: url(../IMG/aboutbackground.jpg);
	background-attachment: fixed;
}

.mainheadingwrapper h1 {
	display: inline-block;
	margin-top: 101.5px;
	margin-left: 14%;
	color: white;
	font-size: 3.75em;
}

section {
	width: 100%;
	height: 400px;
}

.secondwrapper {
	width: 554px;
	margin-right: 14%;
	margin-left: 14%;
}

.secondwrapper h2 {
	margin-bottom: 20px;
	font-family: 'Merriweather', sans-serif;
	font-size: 1.75em;
}

.secondwrapper p {
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
}

.one {
	display: inline-block;
	margin-top: 150px;
}

.two {
	display: inline-block;
	margin-top: 150px;
}

.division {
	background-color: rgba(201, 219, 225, 0.3);
}

footer {
	width: 100%;
	height: 70px;
	border-top: 1px outset black;
	background-color: white;
}
