*, *:before, *:after {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
	font-size: 100%;
	box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;

    justify-content: space-around;
    align-items: center;
}

.headerwrap {
    display: flex;
    width: 1036.8px;
    max-width: 1036.8px;
    height: 100%;

    justify-content: space-between;
    align-items: center;
}

.navtitle {
	display: inline-block;
	font-family: 'Merriweather', serif;
	font-size: 1.25em;
}

nav {
	font-size: 1em;
	min-width: 300px;
	width: 585px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

nav .menulink {
	cursor: pointer;
	text-decoration: none;
	color: black;
	font-family: 'Open Sans', serif;
}

nav .menulink:hover {
	color: #707070;
}

nav .menu {
	display: inline;
	box-sizing: border-box;
}

nav .current {
	color: blue;
}

main {
	padding-top: 70px;
}

.mainheadingwrapper {
	width: 100%;
	height: 190px;
	background-color: #f16876;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.mainheadingwrapper h1 {
	color: white;
	font-size: 3em;
	width: 100%;
	max-width: 1080px;
	font-family: 'Open Sans', serif;
}

section.ourtimeline {
	width: 100%;
	padding: 20px;
	background-image: url(../IMG/absurdity.png);
}

.timeline {
	max-width: 1100px;
	margin: 0 auto;
}

.timelinecontainer {
	width: 100%;
	margin: 0px auto;
	padding: 0 10px;
	position: relative;
}

.timelinecontainer:before {
	content: "";
	width: 3px;
	height: 100%;
	background: #a3a3a3;
	margin-left: -1.5px;
	left: 50%;
	top: 7px;
	position: absolute;
	z-index: 0;
}

.timelinecontainer:after {
	content: "";
	clear: both;
	display: table;
	width: 100%;
}

.timelinecontainer .timelineitem {
	margin-bottom: 35px;
	position: relative;
	width: 50%;
	float: left;
}

.timelinecontainer .timelineitem .timelineicon {
	width: 20px;
	height: 20px;
	background: #a3a3a3;
	position: absolute;
	top: 7px;
	left: 100%;
	border-radius: 50%;
	margin-left: -10px;
}

.timelinecontainer .timelineitem .timelinecontent {
	width: 95%;
	background: #fff;
	padding: 20px;
	box-shadow : 0 4px 5px 1px rgba(19, 35, 47, 0.3);
	border-radius: 5px;
}

.timelinecontainer .timelineitem .timelinecontent .arrow {
	position: absolute;
	left: 95%;
	margin-left: -8px;
	top: 10px;
	width: 15px;
	height: 15px;
	transform: rotate(45deg);
	background-color: #F16876;
	z-index: 100;
}

.timeline .seventeen {
	font-size: 1em;
	text-align: center;
	line-height: 2.5em;
	color: white;
	display: block;
	width: 40px;
	height: 40px;
	left: 50%;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #C1CFF8;
	position: absolute;
	z-index: 1;
}

.timelinecontainer .timelineitem:nth-child(1) {
	margin-top: 55px;
}

.timelinecontainer .timelineitem:nth-child(2) {
	margin-top: 140px;
}

.timelinecontainer .timelineitem.inverted {
	float: right;
}

.timelinecontainer .timelineitem.inverted .timelineicon {
	left: 0%;
	margin-left: -10px;
}

.timelinecontainer .timelineitem .timelinecontent h2 {
	padding: 20px;
	font-family: 'Merriweather', serif;
	font-size: 1.15em;
	color: #fff;
	background-color: #F16876;
	margin: -20px -20px 10px -20px;
	border-radius: 3px 3px 0 0;
	position: relative;
	z-index: 300;
}

.timelinecontainer .timelineitem .timelinecontent p {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color: #444;
	line-height: 1.4em;
}

.timelinecontainer .timelineitem .timelinecontent.right {
	float: right;
}

.timelinecontainer .timelineitem .timelinecontent.right .arrow {
	left: 5%;
}

.cf {
	zoom: 1;
}

.cf:before, .cf:after {
	content: " ";
    display: table;
}

.cf:after {
	clear: both;
}

.openmenu {
    position: relative;
    right: 0;
    display: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.openmenu:hover {
    color: #707070;
}

.mobilenavwrapper {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: -145px;
    bottom: 0;
    display: block;
    width: 145px;
    transition: all 500ms ease-in-out;
    background-color: #333333;
}

.siderbar {
    right: 0;
}

.siderbartoggler {
    right: 145px;
}

.mobilenav {
    padding: 20px;
}

.mobilenav ul {
    list-style: none;
}

.mobilenav ul li:not(:last-child) {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    border-style: inset;
}

.mobilenav ul li a {
    font-family: 'Open Sans', serif;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.mobilenav ul li a:hover {
    color: rgba(255, 255, 255, 1);
}

.mobilenav ul li a.current {
	color: blue;
}

.mobileusernav {
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 0px;
    left: 0;
    display: none;
    height: 70px;
    background-color: #F16876;
}

.mobileusernav ul {
    font-family: 'Open Sans', serif;
    display: flex;
    width: 100%;
    max-width: 1036.8px;
    height: 100%;
    margin: 0 auto;
    list-style: none;
    color: rgba(255, 255, 255, 0.8);

    justify-content: space-around;
    align-items: center;
}

.mobileusernav ul li {
    display: flex;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.mobileusernav ul li a {
    display: flex;
    flex-direction: column;
    height: 60%;
    cursor: pointer;

    justify-content: space-around;
    align-items: center;
}

.mobileusernav ul li a:hover {
    color: rgba(255, 255, 255, 1);
}

.mobileusernav ul li a span {
    font-size: 0.8em;
}

.mobileactive {
    color: #FFFFFF;
}

@media only screen and (max-width: 1036px) {
	.mainheadingwrapper h1 {
		text-align: center;
	}

	.headerwrap {
        margin: 0 20px;
    }
}

@media only screen and (max-width: 768px) {
	.headerwrap {
        margin: 0 5px;
    }

    .openmenu {
        display: block;
    }

    nav {
        display: none;
    }
	
	.timelinecontainer .timelineitem {
		width: 100%;
	}

	.timelinecontainer .timelineitem .timelinecontent {
		float: right;
	}

	.timelinecontainer .timelineitem .timelineicon {
	    left: 0%;
	    margin-left: -8.5px;
	}

	.timelinecontainer .timelineitem.inverted .timelineicon {
	    margin-left: -8.5px;
	}

	.timelinecontainer .timelineitem .timelinecontent .arrow {
	    left: 5%;
	}

	.timelinecontainer:before {
		left: 0%;
		margin-left: 10px;
	}

	.timeline .seventeen {
		left: 0%;
		margin-left: 11.5px;
	}

	.timelinecontainer .timelineitem:nth-child(2) {
	    margin-top: 0px;
	}
}

@media only screen and (max-width: 480px) {
	section.ourtimeline {
		padding: 20px 10px;
	}

	.timeline .seventeen {
		left: 0%;
		margin-left: 1.5px;
	}

	.timelinecontainer .timelineitem .timelinecontent {
		width: 91%;
	}

	.timelinecontainer .timelineitem .timelinecontent .arrow, .timelinecontainer .timelineitem .timelinecontent.right .arrow {
	    left: 9%;
	}
}

@media only screen and (max-width: 375px) {
	.timelinecontainer .timelineitem .timelinecontent p {
		font-size: 0.9em;
		line-height: 1.5em;
	}
}

@media only screen and (max-width: 320px) {
	.mainheadingwrapper h1 {
		font-size: 2.5em;
	}

	.timelinecontainer {
		padding-right: 0px;
	}

	section.ourtimeline {
		padding-right: 5px;
	}
}

footer {
    display: flex;
    width: 100%;
    height: 70px;
    border-top: 1px solid #929292;
    background-color: #FFFFFF;

    justify-content: space-around;
    align-items: flex-start;
}

footer .footerwrap {
    display: flex;
    width: 100%;
    max-width: 1036.8px;
    height: 100%;

    justify-content: center;
    align-items: center;
}

footer .footerwrap .social {
    width: 200px;
}

footer .footerwrap .social ul {
    display: flex;
    width: 100%;
    list-style: none;

    justify-content: space-between;
    align-items: center;
}

footer .footerwrap .social ul li a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

footer .footerwrap .social ul li a.instagram .instwrapper {
	display: block;
	height: 27.4333px;
	width: 27.4333px;
}

footer .footerwrap .social ul li a.instagram .instwrapper i{
}

footer .footerwrap .social ul li a.facebook:hover {
    color: #3B5998;
}

footer .footerwrap .social ul li a.twitter:hover {
    color: #55ACEE;
}

footer .footerwrap .social ul li a.vk:hover {
    color: #507299;
}

footer .footerwrap .social ul li a.instagram {
	display: block;
	height: 24px;
	width: 24px;
	background-color: black;
	clip-path: url(#svgPath);
}

footer .footerwrap .social ul li a.instagram svg{
	width: 100%;
	height: 100%;
}

footer .footerwrap .social ul li.sociallast {
	cursor: pointer;
}

footer .footerwrap .social ul li.sociallast:hover > a {
	background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
