* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

header {
	background-color: white;
	width: 100%;
	height: 70px;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.headerwrap {
	max-width: 1036.8px;
	width: 1036.8px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navtitle {
	display: inline-block;
	font-size: 1.25em;
	font-family: 'Merriweather', serif;
}

nav {
	font-size: 1em;
	max-width: 300px;
	width: 100%;
}

nav ul {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 100%;
	list-style: none;
}

nav .lastmenu {
	display: inline;
	box-sizing: border-box;
}

nav .lastmenulink {
	color: black;
}

nav .lastmenulink:hover {
	color: #707070;
}

nav .lastmenulink i{
	margin-top: 3px;
}

nav .menulink {
	text-decoration: none;
	color: black;
	font-family: 'Open Sans', serif;
	cursor: pointer;
}

nav .menulink:hover {
	color: #707070;
}

nav .menu {
	display: inline;
	box-sizing: border-box;
}

nav .current {
	color: blue;
}

main {
	padding-top: 100px;
	width: 100%;
}

.maincontent {
	max-width: 1036.8px;
	width: 100%;
	margin: 0 auto;
}

body {
	background-color: rgba(201, 219, 225, 0.3);
	background-image: url(../IMG/absurdity.png);
}

.userinfowrapper {
	max-width: 1036.8px;
	width: 100%;
	margin-bottom: 30px;
}

.userinfo {
	border-bottom: 1px solid #95989A;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #95989A;
}

.rowwrapper {
	width: 100%;
	max-width: 1036.8px;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.box {
	display: inline-block;
	box-sizing: border-box;
	width: 310px;
	min-width: 310px;
	box-shadow: 2px 4px 20px rgba(19, 35, 47, 0.3);
	border: 3px solid rgb(241, 104, 118);
	margin-bottom: 30px;
}

.boxcontent {
	box-sizing: border-box;
	padding: 10px 20px;
	background-color: white;
	font-family: 'Lato', sans-serif;
}

.boxcontent .sub {
	display: inline-block;
	width: 49.16%;
}

.boxcontent .title {
	font-size: 1.4em;
}

.boxcontent .para {
	line-height: 1.4em;
	text-align: right;
	font-size: 1em;
}

.boxcontent {
	width: 100%;
	display: inline-block;
	padding-bottom: 20px;
	padding-top: 20px;
}

.boxtop {
	margin-bottom: 25px;
}

.progresspara {
	font-size: 0.9em;
}

.progress {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	height: 20px;
	border: 1px solid rgb(241, 104, 118);
	margin-bottom: 40px;
}

.collected {
	font-size: 0.8em;
	display: inline-block;
	width: 49%;
	margin-bottom: 20px;
}

.donate {
	display: inline-flex;
	width: 49%;
	justify-content: flex-end;
}

.donate input {
	border: 1px solid rgb(241, 104, 118);
	padding: 2px;
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	width: 60%;
	box-sizing: border-box;
}

.donate button {
	font-size: 0.8em;
	background-color: rgb(241, 104, 118);
	color: white;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	width: 40%;
	box-sizing: border-box;
	text-align: center;
	line-height: 0.9em;
	transition: all 0.3s ease;
}

.donate button:hover {
	background-color: rgb(236, 58, 76);
}

#barone {
	height: 100%;
	width: 57%;
	background-color: #91FFE2;
}

::-webkit-input-placeholder {
   font-family: 'Lato', sans-serif;
   font-size: 1.1em;
   color: #777777;
   font-weight: 300;
}

:-moz-placeholder {
   font-family: 'Lato', sans-serif;
   font-size: 1.1em;
}

::-moz-placeholder {
   font-family: 'Lato', sans-serif;
   font-size: 1.1em;
}

:-ms-input-placeholder {  
   font-family: 'Lato', sans-serif;
   font-size: 1.1em;
   color: #777777;  
}

.openmenu {
	display: none;
	cursor: pointer;
	position: relative;
	right: 0px;
	transition: all 500ms ease-in-out;
}

.openmenu:hover {
	color: #707070;
}

.mobilenavwrapper {
	display: block;
	width: 145px;
	background-color: #333;
	position: fixed;
	right: -145px;
	z-index: 2000;
	top: 0px;
	bottom: 0px;
	transition: all 500ms ease-in-out;
}

.siderbar {
	right: 0px;
}

.siderbartoggler {
	right: 145px;
}

.mobilenav {
	padding: 20px;
}

.mobilenav ul {
	list-style: none;
}

.mobilenav ul li:not(:last-child) {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	border-style: inset;
}

.mobilenav ul li a{
	font-size: 0.9em;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	font-family: 'Open Sans', serif;
	cursor: pointer;
}

.mobilenav ul li a:hover {
	color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 1036px) {
	.headerwrap {
		margin: 0 20px;
	}

	.userinfo {
		margin-right: 20px;
		margin-left: 20px;
	} 

	.row {
		margin: 0 20px;
	}
}

@media only screen and (max-width: 980px) {
	.row {
		justify-content: space-around;
	}
}

@media only screen and (max-width: 670px) {
	.headerwrap {
		margin: 0 5px;
	}

	.userinfo {
		margin-right: 5px;
		margin-left: 5px;
	} 

	.row {
		margin: 0 5px;
	}
}

@media only screen and (max-width: 480px) {
	.openmenu {
		display: block;
	}

	nav {
		display: none;
	}
}

@media only screen and (max-width: 320px) {
	.headerwrap {
		margin: 5px;
	}

	.userinfo {
		margin-right: 5px;
		margin-left: 5px;
	}

	.row {
		margin: 0;
		justify-content: flex-start;
	}

	.box {
		width: 100%;
		border-right: none;
		border-left: none;
		margin-bottom: 20px;
	}

	.boxcontent .title {
		font-size: 1.2em;
	}

	.boxcontent .para {
		font-size: 0.8em;
		line-height: 1.2em;
	}

	.navtitle {
		font-size: 1.1em;
	}
}

footer {
	margin-top: 100px;
	width: 100%;
	height: 70px;
	background-color: white;
	border-top: 1px outset black;
	z-index: 1;
}
