* {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
	font-size: 100%;
}

header {
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: white;
}

.navtitle {
	display: inline-block;
	margin-top: 27px;
	margin-left: 14%;
	font-family: 'Merriweather', serif;
	font-size: 1.25em;
}

nav {
	float: right;
	margin-top: 25px;
	margin-right: 14%;
	font-size: 1em;
}

nav .menulink {
	cursor: pointer;
	text-decoration: none;
	color: black;
	font-family: 'Open Sans', serif;
}

nav .menulink:hover {
	color: #707070;
}

nav .menu {
	display: inline;
	box-sizing: border-box;
	padding: 0 30px;
}

nav .current {
	color: blue;
}

main {
	padding-top: 70px;
}

.jumpto {
	position: fixed;
	margin-top: -250px;
	margin-left: 75%;
}

.jumpto li {
	height: 20px;
	margin-bottom: 20px;
	list-style: none;
}

.jumpto svg {
	float: right;
	transition: all 0.4s;

	fill: transparent;
	stroke: rgb(201, 219, 225);
	stroke-width: 2;
}

.jumpto svg:hover {
	fill: rgb(201, 219, 225);
}

.jumpto span {
	display: inline-block;
	width: 94.15px;
	height: 20px;
	text-align: right;
	color: rgb(201, 219, 225);
	font-family: 'Open Sans', serif;
	font-size: 0.9em;
	line-height: 19px;
}

.toolone {
	transition: all 0.3s;
	opacity: 0;
}

.tooltwo {
	transition: all 0.3s;
	opacity: 0;
}

.toolthree {
	transition: all 0.3s;
	opacity: 0;
}

.toolfour {
	transition: all 0.3s;
	opacity: 0;
}

.content {
	box-sizing: border-box;
	width: 980px;
	height: 470px;
	margin-top: -70px;
	margin-right: 14%;
	margin-left: 14%;
	padding-top: 70px;
}

.mainwrapper {
	height: 580px;
	background-image: url(../IMG/aboutbackground.jpg);
	background-attachment: fixed;
}

.main {
	height: 580px;
	text-align: center;
	background-color: rgba(0, 25, 150, 0.1);
}

.maintextwrapper {
	padding: 128.91px 14% 0 14%;
}

.maintextwrapper p {
	color: white;
	font-size: 2em;
}

.maintextwrapper .mainbtn {
	display: block;
	box-sizing: border-box;
	width: 30%;
	margin: 10px auto 0 auto;
	padding: 15px;
	cursor: pointer;
	transition: 0.5s ease;
	text-align: center;
	text-decoration: none;
	color: white;
	background: rgb(241, 104, 118);
	font-family: 'Lato', sans-serif;
	font-size: 1.25em;
}

.maintextwrapper .mainbtn:hover {
	transition: 0.5s;
	background-color: rgb(236, 58, 76);
}

h1 {
	color: white;
	font-family: 'Open Sans', serif;
	font-size: 4em;
}

.secondtextwrapper {
	display: inline-block;
	width: 350px;
}

h3 {
	margin-bottom: 30px;
	font-family: 'Merriweather', sans-serif;
	font-size: 2em;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
}

.btn {
	display: block;
	box-sizing: border-box;
	width: 35%;
	height: auto;
	margin-top: 10px;
	padding: 8px;
	cursor: pointer;
	transition: 0.5s ease;
	text-align: center;
	text-decoration: none;
	color: white;
	background: rgb(241, 104, 118);
	font-family: 'Lato', sans-serif;
	font-size: 1.15em;
}

.btn:hover {
	transition: 0.5s;
	background-color: rgb(236, 58, 76);
}

.divisionwrapper {
	display: inline-block;
	width: 100%;
	background-color: rgba(201, 219, 225, 0.3);
}

.howimg {
	display: inline-block;
	margin-top: 75px;
	margin-left: 50px;
}

.how {
	float: right;
	margin-top: 77.3px;
	margin-right: 50px;
}

.whoimg {
	display: inline-block;
	float: right;
	margin-top: 75px;
	margin-right: 50px;
}

.we {
	float: left;
	margin-top: 58.2px;
	margin-left: 50px;
}

.story h3 {
	text-align: center;
}

.success {
	display: inline-block;
	width: 300px;
	text-align: center;
}

.storywarpper {
	display: inline-block;
	margin-top: 110.1px;
}

.middle {
	margin-right: 36px;
	margin-left: 36px;
}

.contact h3 {
	float: right;
	width: 500px;
}

.contact p {
	display: inline-block;
	float: left;
	width: 320px;
	margin-top: 68.4px;
}

.contact form {
	display: inline-block;
	float: right;
	width: 600px;
}

.contact form input, textarea {
	display: block;
	float: right;
	box-sizing: border-box;
	width: 500px;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid black;
}

.contact form button {
	display: block;
	float: right;
	width: 146px;
	height: 41px;
	margin-right: 354px;
	cursor: pointer;
	color: white;
	background-color: rgb(241, 104, 118);
	font-family: 'Open Sans', serif;
	font-size: 1em;
}

.contact form button:hover {
	transition: 0.5s;
	background-color: rgb(236, 58, 76);
}

.contact form textarea {
	height: 100px;
	resize: none;
}

.contactwarpper {
	display: inline-block;
	height: auto;
	margin-top: 48.3px;
}

footer {
	width: 100%;
	height: 70px;
	border-top: 1px outset black;
	background-color: white;
}
