* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: transparent;
}

header {
    position: fixed;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;

    justify-content: space-around;
    align-items: center;
}

.headerwrap {
    display: flex;
    width: 1036.8px;
    max-width: 1036.8px;
    height: 100%;

    justify-content: space-between;
    align-items: center;
}

.navtitle {
    font-family: 'Merriweather', serif;
    font-size: 1.25em;
    display: inline-block;
}

nav {
    font-size: 1em;
    width: 100%;
    min-width: 300px;
    max-width: 585px;
}

nav ul {
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

nav .menulink {
    font-family: 'Open Sans', serif;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

nav .menulink:hover {
    color: #707070;
}

nav .menu {
    display: inline;
    box-sizing: border-box;
}

nav .current {
    color: blue;
}

main {
    padding-top: 70px;
}

.jumpto {
    position: fixed;
    top: 40%;
    right: 20px;
    margin-top: -70px;
}

.jumpto li {
    height: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.jumpto svg {
    float: right;
    transition: all 0.4s;

    fill: transparent;
    stroke: #CCCCF0;
    stroke-width: 2;
}

.jumpto svg:hover {
    fill: #CCCCF0;
}

.jumpto span {
    font-family: 'Open Sans', serif;
    font-size: 0.9em;
    line-height: 19px;
    display: inline-block;
    width: 94.15px;
    height: 20px;
    text-align: right;
    color: rgb(201, 219, 225);
}

.toolone {
    transition: all 0.3s;
    opacity: 0;
}

.tooltwo {
    transition: all 0.3s;
    opacity: 0;
}

.toolthree {
    transition: all 0.3s;
    opacity: 0;
}

.toolfour {
    transition: all 0.3s;
    opacity: 0;
}

.content {
    display: flex;
    box-sizing: border-box;
    width: auto;
    height: 470px;
    margin-top: -70px;
    margin-right: 7%;
    margin-left: 7%;
    padding-top: 70px;

    justify-content: space-around;
    align-items: center;
}

.mainwrapper {
    height: 580px;
    background-image: url(../IMG/aboutbackground.jpg);
    background-attachment: fixed;
}

.main {
    height: 580px;
    background-color: rgba(0, 25, 150, 0.1);
}

.maintextwrapper {
    position: relative;
    z-index: 0;
    top: 50%;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-right: 10%;
    margin-left: 10%;
    transform: translateY(-50%);
    text-align: center;

    justify-content: space-between;
}

.first {
    height: auto;
    min-height: 86px;
}

.maintextwrapper .item {
    font-size: 2em;
    width: 100%;
    color: white;
}

.maintextwrapper .mainbtn {
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    display: block;
    box-sizing: border-box;
    width: 30%;
    margin: 10px auto 0 auto;
    padding: 15px;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
    text-decoration: none;
    color: white;
    background: rgb(241, 104, 118);
}

.maintextwrapper .mainbtn:hover {
    transition: 0.5s;
    background-color: rgb(236, 58, 76);
}

h1 {
    font-family: 'Open Sans', serif;
    font-size: 4em;
    color: white;
}

.secondtextwrapper {
    display: inline-block;
    width: 350px;
}

h3 {
    font-family: 'Merriweather', sans-serif;
    font-size: 2em;
    margin-bottom: 30px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
}

.btn {
    font-family: 'Lato', sans-serif;
    font-size: 1.15em;
    display: block;
    box-sizing: border-box;
    width: 35%;
    height: auto;
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
    text-decoration: none;
    color: white;
    background: rgb(241, 104, 118);
}

.btn:hover {
    transition: 0.5s;
    background-color: rgb(236, 58, 76);
}

.imgwrapper {
    width: 250px;
    height: 250px;
}

.divisionwrapper {
    display: inline-block;
    width: 100%;
    background-color: rgba(201, 219, 225, 0.3);
}

.contact {
    width: auto;
    margin-right: 14%;
    margin-left: 14%;
}

.story h3 {
    text-align: center;
}

.success {
    width: 300px;
    text-align: center;
}

.successwrapper {
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.formwrapper {
    display: flex;
    float: left;
    width: 100%;

    justify-content: space-around;
    align-items: flex-start;
}

.contactwarpper h3 {
    float: right;
    width: 54.7%;
}

.contact p {
    display: inline-block;
    width: 320px;
}

.contact form {
    width: 500px;
}

.contact form input, textarea {
    display: block;
    float: right;
    box-sizing: border-box;
    width: 500px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
}

.contact form button {
    font-family: 'Open Sans', serif;
    font-size: 1em;
    display: block;
    float: right;
    width: 146px;
    height: 41px;
    margin-right: 354px;
    cursor: pointer;
    color: white;
    background-color: rgb(241, 104, 118);
}

.contact form button:hover {
    transition: 0.5s;
    background-color: rgb(236, 58, 76);
}

.contact form textarea {
    height: 100px;
    resize: none;
}

::-webkit-input-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    color: #777777;
}

:-moz-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
}

::-moz-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
}

:-ms-input-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    color: #777777;
}

.cf {
    zoom: 1;
}

.cf:before, .cf:after {
    display: table;
    content: ' ';
}

.cf:after {
    clear: both;
}

.openmenu {
    position: relative;
    right: 0;
    display: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.openmenu:hover {
    color: #707070;
}

.mobilenavwrapper {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: -145px;
    bottom: 0;
    display: block;
    width: 145px;
    transition: all 500ms ease-in-out;
    background-color: #333333;
}

.siderbar {
    right: 0;
}

.siderbartoggler {
    right: 145px;
}

.mobilenav {
    padding: 20px;
}

.mobilenav ul {
    list-style: none;
}

.mobilenav ul li:not(:last-child) {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-style: inset;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.mobilenav ul li a {
    font-family: 'Open Sans', serif;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.mobilenav ul li a:hover {
    color: rgba(255, 255, 255, 1);
}

.mobilenav ul li a.current {
    color: blue;
}

.mobileusernav {
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    height: 70px;
    background-color: #F16876;
}

.mobileusernav ul {
    font-family: 'Open Sans', serif;
    display: flex;
    width: 100%;
    max-width: 1036.8px;
    height: 100%;
    margin: 0 auto;
    list-style: none;
    color: rgba(255, 255, 255, 0.8);

    justify-content: space-around;
    align-items: center;
}

.mobileusernav ul li {
    display: flex;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.mobileusernav ul li a {
    display: flex;
    flex-direction: column;
    height: 60%;
    cursor: pointer;

    justify-content: space-around;
    align-items: center;
}

.mobileusernav ul li a:hover {
    color: rgba(255, 255, 255, 1);
}

.mobileusernav ul li a span {
    font-size: 0.8em;
}

.mobileactive {
    color: #FFFFFF;
}

@media only screen and (max-width: 1036px) {
    .contactwarpper h3 {
        float: none;
        width: 100%;
        text-align: center;
    }

    .contact form {
        width: 50%;
    }

    .contact form input, textarea {
        width: 100%;
    }

    .contact form button {
        float: left;
        margin-right: 0;
    }

    .contact p {
        width: 40%;
    }

    .headerwrap {
        margin: 0 5px;
    }
}

@media only screen and (max-width: 768px) {
    .openmenu {
        display: block;
    }

    nav {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    h1 {
        font-size: 3em;
    }

    p {
        font-size: 1em;
    }

    h3 {
        font-size: 1.7em;
    }

    .jumpto {
        display: none;
    }

    .success {
        font-size: 1em;
        width: 25%;
    }

    .success p {
        text-align: center;
    }

    .contact form {
        width: 100%;
    }

    .contact p {
        width: 100%;
        margin-bottom: 20px;
    }

    .formwrapper {
        flex-direction: column;

        justify-content: flex-start;
    }
}

@media only screen and (max-width: 670px) {
    .about {
        flex-direction: column-reverse;
        height: 600px;
    }

    .who {
        flex-direction: column;
        height: 600px;
    }

    .success {
        width: 100%;
    }

    .storywarpper {
        position: relative;
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .content, .maintextwrapper {
        margin-right: 1%;
        margin-left: 1%;
    }

    .contact {
        margin-right: 5%;
        margin-left: 5%;
    }

    .moreinfo p {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 375px) {
    .secondtextwrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 320px) {
    h3 {
        font-size: 1.5em;
    }

    h1 {
        margin-bottom: 10px;
    }

    .maintextwrapper .mainbtn {
        padding: 10px;
    }

    ::-webkit-input-placeholder {
        font-size: 1em;
    }

    :-moz-placeholder {
        font-size: 1.1em;
    }

    ::-moz-placeholder {
        font-size: 1.1em;
    }

    :-ms-input-placeholder {
        font-size: 1.1em;
    }
}

footer {
    display: flex;
    width: 100%;
    height: 70px;
    margin-top: -5px;
    border-top: 1px solid #929292;
    background-color: #FFFFFF;

    justify-content: space-around;
    align-items: flex-start;
}

footer .footerwrap {
    display: flex;
    width: 100%;
    max-width: 1036.8px;
    height: 100%;

    justify-content: center;
    align-items: center;
}

footer .footerwrap .social {
    width: 200px;
}

footer .footerwrap .social ul {
    display: flex;
    width: 100%;
    list-style: none;

    justify-content: space-between;
    align-items: center;
}

footer .footerwrap .social ul li a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

footer .footerwrap .social ul li a.instagram .instwrapper {
	display: block;
	height: 27.4333px;
	width: 27.4333px;
}

footer .footerwrap .social ul li a.instagram .instwrapper i{
}

footer .footerwrap .social ul li a.facebook:hover {
    color: #3B5998;
}

footer .footerwrap .social ul li a.twitter:hover {
    color: #55ACEE;
}

footer .footerwrap .social ul li a.vk:hover {
    color: #507299;
}

footer .footerwrap .social ul li a.instagram {
	display: block;
	height: 24px;
	width: 24px;
	background-color: black;
	clip-path: url(#svgPath);
}

footer .footerwrap .social ul li a.instagram svg{
	width: 100%;
	height: 100%;
}

footer .footerwrap .social ul li.sociallast {
	cursor: pointer;
}

footer .footerwrap .social ul li.sociallast:hover > a {
	background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}