* {
    font-size : 100%;
    margin : 0;
    padding : 0;
    vertical-align : baseline;
    border : 0;
    outline : 0;
    background : transparent;
}

header {
    position: fixed;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;

    justify-content: space-around;
    align-items: center;
}

.headerwrap {
    display: flex;
    width: 1036.8px;
    max-width: 1036.8px;
    height: 100%;

    justify-content: space-between;
    align-items: center;
}

.navtitle {
    display: inline-block;
    font-family: 'Merriweather', serif;
    font-size: 1.25em;
}

nav {
    font-size: 1em;
    min-width: 300px;
    width: 585px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .menulink {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', serif;
}

nav .menulink:hover {
    color: #707070;
}

nav .menu {
    display: inline;
    box-sizing: border-box;
}

nav .current {
    color: blue;
}

main {
    padding-top : 70px;
}

body {
    background-color: rgba(201, 219, 225, 0.3);
    position: relative;
    z-index: 0;
}

.tabs {
    margin : 0 0 40px 0;
    padding : 0;
    list-style : none;
}

.tabs:after {
    display : table;
    clear : both;
    content : '';
}

.tabs li {
    display : inline;
}

.tab {
    font-family : 'Lato', sans-serif;
    font-size : 1.25em;
    display : block;
    float : left;
    box-sizing : border-box;
    width : 50%;
    padding : 15px;
    cursor : pointer;
    transition : 0.5s ease;
    text-align : center;
    text-decoration : none;
    color : #A0B3B0;
    background : rgba(160, 179, 176, 0.25);
}

.tab:hover {
    color : white;
    background-color : rgb(236, 58, 76);
}

.active {
    color : white;
    background-color : rgb(241, 104, 118);
}

.form {
    max-width : 680px;
    box-sizing: border-box;
    height: auto;
    margin : 40px auto;
    padding : 40px;
    border-radius : 4px;
    background-color : white;
    box-shadow : 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    position: relative;
    transition: all 300ms ease-in-out;
}

.sign {
    height: 426px;
}

.login {
    height: 274px;
    position: relative;
}

h1 {
    font-family : 'Open Sans', serif;
    font-size : 1.8em;
    margin-bottom : 20px;
    text-align : center;
}

input {
    font-family : 'Lato', sans-serif;
    font-size : 1.2em;
    position : relative;
    box-sizing : border-box;
    height : 46px;
    padding : 10px;
    margin-bottom: 30px;
    border : 1px solid #A0B3B0;
    display: inline-block;
}

input:focus {
    border-color : #A0B3B0;
    outline : 0;
}

.lengthfivetwoone {
    animation: lengthone 400ms ease-in-out forwards;
}

@keyframes lengthone {
    0% {
        height: 95px;
    }
    100% {
        height: 601px;
    }
}

.lengththreesixnine {
    animation: lengthtwo 400ms ease-in-out forwards;
}

@keyframes lengthtwo {
    0% {
        height: 95px;
    }
    100% {
        height: 447px;
    }
}

.toprow {
    box-sizing: border-box;
}

.toprow input {
    float : left;
    box-sizing : border-box;
    width : 100%;
    margin-bottom: 30px;
}

.secondary input {
    width : 100%;
}

.thirdrow {
    width: 100%;
    text-align: right;
    margin-top: -15px;
    position: relative;
    z-index: 100;
}

.thirdrow input {
    display: none;
}

.thirdrow label {
    height: 16px;
}

.thirdrow label span {
    font-family : 'Lato', sans-serif;
    font-size: 0.9em;
}

.thirdrow label span a {
    color: #666;
    text-decoration: none;
}

.thirdrow label span a:hover {
    color: #333;
}

.thirdrow label span:before {
    content: "\f096";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1.28571429em;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

.thirdrow label input:checked + span:before {
    content: "\f14a";
    color: #06a3e9;
}

button {
    font-family : 'Lato', sans-serif;
    font-size : 1.5em;
    display : block;
    width : 100%;
    padding : 15px 0;
    cursor : pointer;
    transition : all 0.5s ease;
    letter-spacing : 0.1em;
    text-transform : uppercase;
    color : white;
    background-color : rgb(241, 104, 118);
}

button:hover {
    background-color : rgb(236, 58, 76);
}

.forgot {
    text-align : right;
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 70px;
    perspective: 500px;
}

.forgot .forgotp {
    text-decoration: none;
    color: black;
}

.forgot .forgotp:hover {
    color: #1D9D74;
}

#signup {
    position: relative;
}

.up {
    margin-right: 4%;
}

.errorwrapper {
    box-sizing: border-box;
    display: inline-block;
    width: 48%;
    float: left;
    height: 76px;
    position: relative;
}

.errortxt {
    font-family : 'Lato', sans-serif;
    font-size : 0.8em;
    width: 100%;
    float: left;
    margin-top: -30px;
    color: #ff4500;
}

.errortxtpass {
    position: absolute;
    color: #ff4500;
    font-family : 'Lato', sans-serif;
    font-size : 0.7em;
    top: 95%;
    left: 2px;
}

.inputwrapper {
    position: relative;
    z-index: 0;
}

lable.signlable {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #777;
    pointer-events: none;
    transition: all 0.15s ease-out 0s;
}

.cf {
    zoom: 1;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.inputsign:focus ~ lable, .inputsign.hasvalue ~ lable {
    color: #00c1a3;
    font-size: 0.8em;
}

lable.signlable {
    position: absolute;
    left: 10px;
    top: 15%;
}

.inputsign:focus ~ lable, .inputsign.hasvalue ~ lable {
    top: -15px;
    left: 0;
}

.getpass {
    position: absolute;
    background-color: white;
    padding: 10px 20px 15px 20px;
    box-shadow : 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    width: 232px;
    top: 78%;
    border: 1px solid #7a7a7a;
    right: -60px;
    cursor: initial;
    transform-origin: center 0px;
    z-index: 200;
    height: 49.6px;
    font-family : 'Lato', sans-serif;
}

.flyout {
    animation: passformout 500ms ease-in-out forwards;
}

.flyin {
    animation: passformin 300ms ease-in-out forwards;
}

.getpass form {
    position: absolute;
}

.getpass .done {
    position: absolute;
    left: 50%;
    margin-left: -60.4666px;
}

.getpass .close {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: #666;
    transform: rotate(45deg);
}

.getpass .close:hover {
    color: #000;
}

.done .donei {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 27.43333px;
    color: #1D9D74;
}

.done p {
    position: relative;
    text-align: left;
    display: block;
    width: 120.93333px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    font-size: 1em;
}

.opengetpass {
    animation: noteplus 500ms ease-in-out forwards;
}

.closegetpass {
    animation: noteminus 500ms ease-in-out forwards;
}

@keyframes passformin {
    0% {
        left: 120%;
        transform: scale(0.1);
    }
    100% {
        left: 50%;
        transform: scale(1);
    }
}

@keyframes passformout {
    0% {
        transform: scale(1);
        left: 0%;
    }
    100% {
        left: -110%;
        transform: scale(0.1);
    }
}

@keyframes noteminus {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
        /* transform: translateY(50px); */
    }
}

@keyframes noteplus {
    0% {
        opacity: 0;
        transform: scale(0.1) rotate(-30deg) translateY(-50px) rotateX(90deg);
    }
    50% {
        transform: rotate(10deg) rotateX(-2deg);
        opacity: 1;
    }
    70% {
        transform: rotate(-3deg);
    }
    100% {
        transform: scale(1);
    }
}

.passwrapper {
    height: 60px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.arrow {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    transform: rotate(45deg);
    background-color: white;
    border-top: 1px solid #7a7a7a;
    border-left: 1px solid #7a7a7a;
    box-shadow : -4px -2px 10px -5px rgba(19, 35, 47, 0.3);
    z-index: 1;
    bottom: 100%;
    margin-bottom: -10px;
}

.getpass lable {
    text-align: left;
    font-size: 0.8em;
    display: block;
    position: relative;
    z-index: 2;
}

.getpass input {
    display: inline-block;
    font-size: 0.8em;
    padding: 3px;
    line-height: 0.8em;
    height: 30px;
    margin-bottom: 0px;
    float: left;
}

.getpass button {
    height: 30px;
    font-size: 0.8em;
    line-height: 1px;
    width: 80px;
    float: left;
    display: inline-block;
    margin-bottom: 0px;
}

@-moz-document url-prefix() { 
    lable.signlable {
        position: absolute;
        left: 10px;
        top: 15%;
    }
    .inputsign:focus ~ lable, .inputsign.hasvalue ~ lable {
        top: -15px;
        left: 0;
    }
}

.openmenu {
    position: relative;
    right: 0;
    display: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.openmenu:hover {
    color: #707070;
}

.mobilenavwrapper {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: -145px;
    bottom: 0;
    display: block;
    width: 145px;
    transition: all 500ms ease-in-out;
    background-color: #333333;
}

.siderbar {
    right: 0;
}

.siderbartoggler {
    right: 145px;
}

.mobilenav {
    padding: 20px;
}

.mobilenav ul {
    list-style: none;
}

.mobilenav ul li:not(:last-child) {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    border-style: inset;
}

.mobilenav ul li a {
    font-family: 'Open Sans', serif;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.mobilenav ul li a:hover {
    color: rgba(255, 255, 255, 1);
}

.mobilenav ul li a.current {
    color: blue;
}

.mobileusernav {
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 0px;
    left: 0;
    display: none;
    height: 70px;
    background-color: #F16876;
}

.mobileusernav ul {
    font-family: 'Open Sans', serif;
    display: flex;
    width: 100%;
    max-width: 1036.8px;
    height: 100%;
    margin: 0 auto;
    list-style: none;
    color: rgba(255, 255, 255, 0.8);

    justify-content: space-around;
    align-items: center;
}

.mobileusernav ul li {
    display: flex;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.mobileusernav ul li a {
    display: flex;
    flex-direction: column;
    height: 60%;
    cursor: pointer;

    justify-content: space-around;
    align-items: center;
}

.mobileusernav ul li a:hover {
    color: rgba(255, 255, 255, 1);
}

.mobileusernav ul li a span {
    font-size: 0.8em;
}

.mobileactive {
    color: #FFFFFF;
}

.overlay {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}

footer {
    display: flex;
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #929292;
    background-color: #FFFFFF;
    box-shadow: 0px 500px 0px 500px #fff;
    height: 70px;
    box-sizing: border-box;

    justify-content: space-around;
    align-items: flex-start;
}

footer .footerwrap {
    display: flex;
    width: 100%;
    max-width: 1036.8px;
    height: 70px;
    box-sizing: border-box;

    justify-content: space-between;
    align-items: center;
}

footer .footerwrap .social {
    width: 200px;
}

footer .footerwrap .social ul {
    display: flex;
    width: 100%;
    list-style: none;

    justify-content: space-between;
    align-items: center;
}

footer .footerwrap .social ul li a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

footer .footerwrap .social ul li a i {
    font-size: 1.5em;
}

footer .footerwrap .social ul li a.facebook:hover {
    color: #3B5998;
}

footer .footerwrap .social ul li a.twitter:hover {
    color: #55ACEE;
}

footer .footerwrap .social ul li a.vk:hover {
    color: #507299;
}

footer .footerwrap .social ul li.sociallast {
    display: block;
    height: 24px;
    width: 24px;
    background-color: black;
    clip-path: url(#svgPath);
}

footer .footerwrap .social ul li a.instagram svg{
    width: 100%;
    height: 100%;
}

footer .footerwrap .social ul a.instagram {
    cursor: pointer;
}

footer .footerwrap .social ul a.instagram:hover > li {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

footer .footerwrap .copyright p {
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
}

footer .footerwrap .copyright p a {
    color: #666;
    text-decoration: none;
}

footer .footerwrap .copyright p a:hover {
    color: #333;
}

@media only screen and (max-width: 1036px) {
    .headerwrap {
        margin: 0 20px;
    }

    .form {
        box-shadow: none;
        border: 1px solid #95989A;
    }
}

@media only screen and (max-width: 768px) {
    .openmenu {
        display: block;
    }

    nav {
        display: none;
    }

    .getpass {
        top: 50%;
        left: 50%;
        box-shadow: none;
        z-index: 1000;
        margin-left: -137px;
        margin-top: -38.3px;
    }

    .getpass .close {
        display: block;
    }

    .arrow {
        display: none;
    }

}

@media only screen and (max-width: 670px) {
    .form {
        width: 100%;
        border-right: none;
        border-left: none;
        border-radius: 0px;
    }

    .headerwrap {
        margin: 0 5px;
    }

    .footerwrap {
        margin: 0 5px;
    }
}

@media only screen and (max-width: 568px) {
    footer .footerwrap {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .form {
        padding: 20px 10px;
    }

    .formcontent.login .formbutton {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .toprow .errorwrapper {
        margin-right: 0px;
        width: 100%;
    }

    footer .footerwrap .copyright p {
        font-size: 0.8em;
    }

    .tabs {
        margin-bottom: 10px;
    }

    .formcontent.login {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 320px) {
    .form {
        padding: 20px 0px;
    }

    .errorwrapper, .inputwrapper {
        padding: 0 5px;
    }

    .forgot {
        right: 5px;
    }

    .inputsign:focus ~ lable, .inputsign.hasvalue ~ lable {
        left: 5px;
    }

    .thirdrow label {
        margin-right: 5px;
    }

    footer .footerwrap .copyright p {
        font-size: 0.7em;
    }
}
