* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

header {
	background-color: white;
	width: 100%;
	height: 70px;
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1000;
}

.headerwrap {
	max-width: 1036.8px;
	width: 1036.8px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navtitle {
	display: inline-block;
	font-size: 1.25em;
	font-family: 'Merriweather', serif;
}

nav {
	font-size: 1em;
}

nav ul {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 300px;
	max-width: 300px;
	list-style: none;
}

nav .lastmenu {
	display: inline;
	box-sizing: border-box;
}

nav .lastmenulink {
	color: black;
}

nav .lastmenulink i{
	margin-top: 3px;
}

nav .lastmenulink:hover {
	color: #707070;
}

nav .menulink {
	text-decoration: none;
	color: black;
	font-family: 'Open Sans', serif;
	cursor: pointer;
}

nav .menulink:hover {
	color: #707070;
}

nav .current {
	color: blue;
}

main {
	padding-top: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.userpagecontent {
	max-width: 1036.8px;
	width: 100%;
}

body {
	background-color: rgba(201, 219, 225, 0.3);
	background-image: url(../IMG/absurdity.png);
}

.maintabs {
	width: 55%;
}

.maincontentwrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: auto;
}

.maincontent {
	border-top: 1px solid rgb(241, 104, 118);
	background-color: white;
	width: 100%;
	float: left;
	box-shadow: 2px 4px 20px rgba(19, 35, 47, 0.3);
	clear: left;
	height: 100%;
}

.usernav ul{
	display: flex;
	justify-content: flex-start;
}

.usernav li {
	display: inline-block;
}

.usernav .tabusr {
	box-sizing: border-box;
	height: 30px;
	background-color: white;
	display: inline-flex;
	border-top: 1px solid rgb(241, 104, 118);
	border-left: 1px solid rgb(241, 104, 118);
	border-bottom: none;
	padding-top: 2px;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: black;
	font-family: 'Open Sans', serif;
	cursor: pointer;
	font-size: 1em;
	margin: 0;
	transition: all 0.3s ease;
}

.lastuser {
	border-right: 1px solid rgb(241, 104, 118);
}

.usernav .tabusr:hover {
	background-color: rgb(236, 58, 76);
	color: white;
}

.usernav .active {
	background-color: rgb(241, 104, 118);
	color: white;
}

.formcontentusr {
	margin-left: 2%;
	margin-right: 2%;
	padding-bottom: 15px;
	width: auto;
}

.userinfo {
	margin-bottom: 30px;
	border-bottom: 1px solid #95989A;
	max-width: 1036.8px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #95989A;
}

.userinfo .balance {
	text-align: right;
}

.one {
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
}

.topprofile input {
	display: block;
	border: 1px solid #A0B3B0;
	padding: 5px;
	margin-bottom: 18px;
	width: 98%;
	border-radius: 3px;
}

input:focus, input.input:focus {
	border-color: #b3d6cd;
}

.field {
	display: block;
}

.input {
	border: 1px solid #A0B3B0;
}

.wrapper {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding-top: 16px;
}

.wrapper input {
	margin-top: 0px;
	margin-bottom: 16px;
}

.wish {
	width: 98%;
}

h1 {
	display: inline-block;
	font-size: 1.5em;
	font-family: 'Open Sans', serif;
	margin-bottom: 20px;
	margin-top: 15px;
}

.confirm {
	border-radius: 5px;
	background-color: rgba(211, 211, 211, 0.3);
	padding: 10px 10px 2px 10px;
	position: relative;
	margin-top: 10px;
}

.confirm .willspin, .address .willspin {
	color: #424242;
	position: absolute;
	top: 2px;
}

.confirm p, .address p {
	margin-bottom: 5px;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	position: relative;
	perspective: 1000px;
}

.address p {
	margin-bottom: 10px;
}

.address p span, .confirm p span{
	margin-left: 25px;
}

.address p .willspin {
	position: absolute;
	top: 2px;
}

.confirm input:not(.street) {
	padding: 5px;
	background-color: white;
	border-radius: 3px;
	margin-bottom: 16px;
	width: 40%;
}

.showpassword {
	position: absolute;
	top: 39px;
	left: 210px;
	display: inline-block;
	height: 16px;
	width: 16px;
}

.showpassword i{
	position: absolute;
	color: #777;
	cursor: pointer;
}

.spinthingY {
	transform: rotateY(360deg);
	transform-origin: center center;
	transition: all 600ms ease-in-out;
}

.spinthing {
	transform-origin: center center;
	transform: rotate(360deg);
	transition: all 600ms ease-in-out;
}

.showpassword i:hover {
	color: #555;
}

.showpassword i.hidden {
	display: none;
}

.btnwrapper {
	border-top: 1px solid grey;
	margin-top: 10px;
}

.btnwrapper button {
	margin-top: 10px;
	padding: 5px;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background-color: rgb(241, 104, 118);
	color: white;
	display: block;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	transition: all 0.5s ease;
}

button:hover {
	background-color: rgb(236, 58, 76);
	color: white;
}

.topup select {
	display: block;
	width: 30%;
	padding: 2px;
	margin-bottom: 10px;
}

.topup input:not(.amount):not(.carddate):not(.ccv):not(.card):not(.cardname) {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 3px;
}

.amount {
	width: 100%;
	display: inline-block;
	font-size: 1em;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #A0B3B0;
	float: left;
	margin-bottom: 0px;
}

.amount:focus ~ i {
	color: #555;
}

.dollar {
	position: relative;
	display: inline-block;
	width: 28.5%;
	color: #777;
}

.dollar i {
	position: absolute;
	top: 50%;
	right: 0.1%;
	margin-top: -8px;
}

.inputdivisor {
	width: 37.5%;
	display: inline-block;
	margin-right: 15px;
	position: relative;
}

.inputdivisor:first-child {
	margin-bottom: 13px;
}

.input.card, .input.cardname, .input.carddate, .input.ccv {
	width: 100%;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #A0B3B0;
	background-color: white;
}

.createwish input {
	padding: 5px;
	margin-bottom: 13px;
	border-radius: 3px;
}

.two {
	border-bottom: 1px solid grey;
}

.wishwrapper {
	width: 100%;
	position: relative;
}

.addresswrapper {
	width: 97.6%;
	position: relative;
}

.street {
	display: block;
	width: 100%;
	background-color: white;
}

.city input, .zip input, .country input {
	width: 100%;
	background-color: white;
	box-sizing: border-box;
}

.city, .zip, .country {
	display: inline-block;
	float: left;
	box-sizing: border-box;
	width: 30%;
	position: relative;
}

.city, .zip {
	margin-right: 5.001%;
}

.boxes {
	width: 40%;
	height: 479px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.box {
	box-sizing: border-box;
	box-shadow: 2px 4px 20px rgba(19, 35, 47, 0.3);
	height: 227px;
	width: 100%;
}

.box h2 {
	display: inline-block;
	width: 100%;
	line-height: 1.8em;
	font-size: 1.3em;
	background-color: rgb(241, 104, 118);
	color: white;
	text-align: center;
	font-family: 'Open Sans', serif;
}

.boxcontent {
	padding: 10px 20px;
	background-color: white;
	font-family: 'Lato', sans-serif;
}

.boxcontent .title {
	font-size: 1.4em;
}

.boxcontent .para {
	line-height: 1.4em;
	font-size: 1em;
}

.boxcontent .boxtop {
	margin-bottom: 18px;
	height: 28.2px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.progresspara {
	font-size: 0.9em;
}

.progress {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	height: 20px;
	border: 1px solid rgb(241, 104, 118);
	margin-bottom: 40px;
}

.collected {
	display: inline-block;
	width: 49.45%;
	margin-bottom: 20px;
}

.donate {
	display: inline-block;
	width: 49.45%;
	display: inline-flex;
	justify-content: flex-end;
}

.donate input {
	border: 1px solid rgb(241, 104, 118);
	padding: 3px;
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	width: 60%;
	box-sizing: border-box;
}

.donate button {
	font-size: 0.9em;
	background-color: rgb(241, 104, 118);
	color: white;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	width: 30%;
	text-align: center;
	line-height: 0.9em;
	transition: all 0.3s ease;
}

.donate button:hover {
	background-color: rgb(236, 58, 76);
}

#settings {
	display: block;
}

#money {
	display: none;
}

#achievements {
	display: none;
}

#wish {
	display: none;
}

#barone {
	height: 100%;
	width: 57%;
	background-color: #91FFE2;
}

#bartwo {
	height: 100%;
	width: 57%;
	background-color: #91FFE2;
}

#credit {
	display: block;
}

#paypal {
	display: none;
}

#qiwi {
	display: none;
}

#datetitle, #yeartitle {
	margin-bottom: 1px;
}

.dropdown {
	border: 1px solid #A0B3B0;
	border-radius: 3px;
	display: inline-block;
	height: 30px;
	background: #FFFFFF url('../IMG/caret-bottom.svg') no-repeat 90% 50%;
	float: left;
	margin-right: 5px;
	position: relative;
}

.currenttitle {
	width: 90%;
	display: inline-block;
	line-height: 20px;
	font-size: 1em;
	color: black;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	-webkit-user-select: none;    
	-moz-user-select: none;
	-ms-user-select: none;
}

.dropdownitems {
	position: absolute;
	width: 100%;
	background-color: white;
	box-shadow: 2px 4px 20px rgba(19, 35, 47, 0.3);
	z-index: 1;
}

.dropdownitems a {
	cursor: pointer;
	padding: 10px 0px 10px 15%;
	display: block;
	text-decoration: none;
	color: black;
	font-size: 1em;
}

.dropdownitems a:hover {
	background-color: rgb(241, 104, 118);
	color: white;
}

.datefield {
	display: inline-block;
	width: 30.3%;
}

.methdofield {
	width: 30.3%;
}

.month {
	height: 30%;
	overflow: scroll;
}

.selected {
	color: black;
}

#date {
	display: none;
}

#year {
	display: none;
}

#menutitle {
	color: black;
	padding-top: 5px;
	padding-left: 5px;
	margin-bottom: 6px;
}

.achievementswrapper {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}

.numbers {
	font-family: 'Lato', sans-serif;
	width: 14%;
	border-right: 1px solid #666;
	box-sizing: border-box;
}

.awards {
	width: 80%;
}

.currency {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}

.infoses {
	font-family: 'Lato', sans-serif;
	color: #333;
	font-size: 0.8em;
	max-width: 70%;
	width: 100%;
	margin-bottom: 20px;
}

.infoses .awardmoreinfo {
	font-size: 0.9em;
	color: #666;
}

.infoses .awardinfo {
	position: relative;
}

.infoses .awardinfo .extra {
	color: #F16876;
	cursor: pointer;
}

.infoses .awardinfo .extra:hover {
	color: #FF2700;
}

.stars {
	position: absolute;
	right: 55px;
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	line-height: 1.1em;
}

.remove {
	animation: noteminus 500ms ease-in-out forwards;
}

.add {
	animation: noteplus 500ms ease-in-out forwards;
}

@keyframes noteminus {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}

@keyframes noteplus {
    0% {
        opacity: 0;
        transform: scale(0.1) rotate(-30deg) translateY(-50px) rotateX(90deg);
    }
    50% {
        transform: rotate(10deg) rotateX(-2deg);
        opacity: 1;
    }
    70% {
        transform: rotate(-3deg);
    }
    100% {
        transform: scale(1);
    }
}

.stars i {
	color: #FFD700;
}

.notenough {
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	color: #02549C;
	width: 210px;
	background-color: #FFf;
	padding: 10px;
	border: 1px solid black;
	left: 15%;
	top: 50%;
	z-index: 5;
	text-align: center;
	display: none;
	transform-origin: center 0;
}

.notenough:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: white;
	border-top: 1px solid black;
	border-left: 1px solid black;
	transform: rotate(45deg);
	top: 0;
	left: 35%;
	margin-top: -8.3px;
}

.cool {
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	color: #1D9D74;
	width: 210px;
	background-color: #FFf;
	padding: 10px;
	border: 1px solid black;
	left: 15%;
	top: 50%;
	z-index: 5;
	text-align: center;
	display: none;
}

.cool:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: white;
	border-top: 1px solid black;
	border-left: 1px solid black;
	transform: rotate(45deg);
	top: 0;
	left: 35%;
	margin-top: -8.3px;
}

.badges {
	box-sizing: border-box;
	display: inline-flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.badges .badgewrapper {
	width: 80px;
	height: 79px;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
}

.badges .badgewrapper:nth-child(4n) {
	margin-right: 0px;
}

.badges .badgewrapper img {
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	z-index: 1;
	top: 5px;
	left: 15px;
}

.badges .badgewrapper span {
	font-family : 'Lato', sans-serif;
	font-size: 0.8em;
	display: block;
	text-align: center;
	color: #333;
	position: relative;
	margin-top: 10px;
	cursor: pointer;
}

.badges .badgewrapper .achievtooltip {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 10px;
	font-family : 'Lato', sans-serif;
	width: 165%;
	position: absolute;
	display: none;
	z-index: 5;
}

.badges .badgewrapper .achievtooltip:before {
	content: '';
	border-bottom: 10px solid rgba(0, 0, 0, 0.7);
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	width: 0;
	height: 0;
	position: absolute;
	top: -20px;
	left: calc(50% - 5px);
}

.badges .badgewrapper .achievtooltip h4 {
	font-size: 0.8em;
	font-weight: 400;
}

.badges .badgewrapper .achievtooltip p {
	font-size: 0.7em;
}

.badges .badgewrapper .achievtooltip em {
	font-style: normal;
}

.radial {
	width: 50px;
	height: 50px;
	position: relative;
	top: 5px;
	left: 15px;
}

.radial .Sektor {
    width: 50px;
    height: 50px;
    transform: rotateY(180deg);
    position: relative;
    z-index: 2;
}

.donatedrow {
	box-sizing: border-box;
	display: inline-block;
	color: #333;
}

.donatedrow:first-child {
	margin-bottom: 10px;
}

.donatedrow .donated {
	display: block;
	font-size: 0.8em;
}

.donatedrow .doanteddollar {
	font-size: 1.1em;
}

.errortxt {
	font-family : 'Lato', sans-serif;
    font-size : 0.7em;
    width: 100%;
    color: #ff4500;
    position: absolute;
    margin-top: -18px;
}

.errortxtcard {
	font-family : 'Lato', sans-serif;
    font-size : 0.7em;
    width: 100%;
    color: #ff4500;
    position: absolute;
    bottom: -13px;
    left: 2px;
}

.errortxtaddress {
	font-family : 'Lato', sans-serif;
    font-size : 0.7em;
    width: 100%;
    color: #ff4500;
    position: absolute;
    top: 29px;
    left: 2px;
}

.amountwrapper {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
	width: auto;
}

.cardcontainer {
	margin-bottom: 10px;
	width: 350px;
	margin-left: 10px;
	position: relative;
	z-index: 0;
}

.bakcgroundcc {
	background-color: rgba(211, 211, 211, 0.3);
	border-radius: 5px;
	padding-left: 18%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.address {
	background-color: rgba(211, 211, 211, 0.3);
	padding: 15px 15px 5px 15px;
	margin-top: 10px;
	border-radius: 5px;
	display: inline-block;
}

.cf {
	zoom: 1;
}

.cf:before, .cf:after {
	content: " ";
    display: table;
}

.cf:after {
	clear: both;
}

@-moz-document url-prefix() { 
  .showpassword {
    position:absolute;
    top: 42px;
	left: 210px;
  }
}

::-webkit-input-placeholder {
   font-family: 'Lato', sans-serif;
   font-size: 1.1em;
   line-height: 1em;
   color: #777777;
   font-weight: 300;
}

:-moz-placeholder {
   font-family: 'Lato', sans-serif;
   font-size: 1.1em;
   line-height: 1em;
}

::-moz-placeholder {
   font-family: 'Lato', sans-serif;
   font-size: 1.1em;
   line-height: 1em;
}

:-ms-input-placeholder {  
   font-family: 'Lato', sans-serif;
   font-size: 1.1em;
   color: #777777; 
   line-height: 1em; 
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

footer {
	margin-top: 100px;
	width: 100%;
	height: 70px;
	background-color: white;
	border-top: 1px outset black;
}
