header
    z-index: 1000
    height: 70px
    background-color: $white
    position: fixed
    color: $black
    border-bottom: 1px solid $black

    .mobile
        cursor: pointer
        display: none
        font-size: 1.25rem
        position: relative
        z-index: 1000
        transition: all 200ms ease-in-out

    .mobile.active
        color: $white

nav
    max-width: 585px
    z-index: 999
    transition: all 200ms ease-in-out

    i
        color: $black
