header
    z-index: 1000
    height: 70px
    background-color: $white
    position: fixed
    color: $black
    border-bottom: 1px solid $black

    .mobile
        cursor: pointer
        display: none
        font-size: 1.25rem

nav
    max-width: 585px
    z-index: 999
